<label class="block clearfix">
  <span class="block input-icon input-icon-right">
    <input style="display:none"><!-- for disable autocomplete on chrome -->
    <input required="required" name="password" type="password" class="form-control" placeholder="密码" autocomplete="off"/>
    <i class="ace-icon fa fa-lock"></i>
  </span>
</label>
<label class="pwErr" style="display: none; color: red"></label>

<label class="block clearfix">
  <span class="block input-icon input-icon-right">
    <input required="required" name="password2" type="password" class="form-control" placeholder="重复密码" />
    <i class="ace-icon fa fa-retweet"></i>
  </span>
</label>
<label class="pwaErr" style="display: none; color: red"></label>

<script type="text/javascript">
  jQuery(function($) {
    //password验证
    $("input[name=password]").blur(function(){
      var pw = $(this).val();
      var flag = true;
      if(pw.length < 7){
        flag = false;
      }
      if (!flag) {
        $(this).closest("form").find(".pwErr").show();
        $(this).closest("form").find(".pwErr").text("密码为大于6位的数字、字母");
        $(this).closest("form").find("button[type=submit]").attr("disabled", true);
      } else {
        $(this).closest("form").find(".pwErr").hide();
        $(this).closest("form").find("button[type=submit]").attr("disabled", false);
      }
    });

    //password是否相同的验证
    $("input[name=password2]").blur(function(){
      var pwa = $(this).val();
      var pw = $(this).closest("form").find("input[name=password]").val();
      var flag = true;
      if(pwa != pw){
        flag = false;
      }
      if (!flag) {
        $(this).closest("form").find(".pwaErr").show();
        $(this).closest("form").find(".pwaErr").text("两次密码输入不一致");
        $(this).closest("form").find("button[type=submit]").attr("disabled", true);
      } else {
        $(this).closest("form").find(".pwaErr").hide();
        $(this).closest("form").find("button[type=submit]").attr("disabled", false);
      }
    });
  });

</script>
