
<div class="form-group">
<label class="block clearfix">
  <span class="block input-icon input-icon-right">
    <input style="display:none"><!-- for disable autocomplete on chrome -->
    <input required="required" type="phone" name="phone" class="form-control" placeholder="手机号码" autocomplete="off"/>
    <i class="ace-icon fa fa-phone"></i>
  </span>
</label>
<label class="phoneErr" style="display: none; color: red"></label>
</div>

<script src='../../static/js/jquery.min.js'></script>
<script type="text/javascript">
  jQuery(function() {

    //phone验证
    $("input[type=phone]").blur(function () {
      var phone = $(this).val();
      var flag = true;

      var num= /^[0-9]+.?[0-9]*$/;
      for(var i=0;i<phone.length;i++){
        if(!num.test(phone.charAt(i))){
          flag = false;
        }
      }
      if (!flag) {
        $(this).closest("form").find(".phoneErr").show();
        $(this).closest("form").find(".phoneErr").text("电话号码应为数字");
        $(this).closest("form").find("button[type=submit]").attr("disabled", true);
        $(this).closest(".form-group").addClass("has-error");
      } else {
        $(this).closest("form").find(".phoneErr").hide();
        $(this).closest("form").find("button[type=submit]").attr("disabled", false);
        $(this).closest(".form-group").removeClass("has-error");
      }
    });
  });

</script>
