
<form class="form-horizontal" role="form">
  <!-- #section:elements.form -->
  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 参赛队名 </label>

    <div class="col-sm-9">
      <input type="text" id="form-field-1" placeholder="队名" value="ABC`" class="col-xs-10 col-sm-5" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> 负责人 </label>

    <div class="col-sm-9">
      <input type="text" id="form-field-1-1" placeholder="姓名" value="张三" class="col-xs-10 col-sm-5" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="form-field-1-1"> 负责人联系方式</label>
    <label class="col-sm-8 control-label no-padding-right" for="form-field-1-1"> &nbsp;</label>
    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> &nbsp;</label>
    <div class="input-group col-sm-9">
      <span class="input-group-addon">
        <i class="ace-icon fa fa-phone"></i>
      </span>

      <input type="text" id="form-field-1-1" placeholder="" value="13612345678" class="input-mask-phone col-xs-10 col-sm-5" />
    </div>

    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1"> &nbsp;</label>
    </br>
    <div class="input-group col-sm-9">
      <span class="input-group-addon">
        <i class="ace-icon fa fa-envelope"></i>
      </span>

      <input type="text" id="form-field-1-1" placeholder="" value="qwerty@wfdsa" class="input-mask-phone col-xs-10 col-sm-5" />
    </div>
  </div>
  <!-- /section:elements.form -->
</form>
