<div class="page-header"><h1>考级列表</h1></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <!-- #section:elements.tab.position -->
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" id="stu-test-tab">
        {% for i in "1234567890" %}
        {% if forloop.counter == 3 %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
        <a data-toggle="tab" href="#level{{i}}">
          <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
          等级{{i}}
        </a>
        </li>
        {% endfor %}
      </ul>

      <div class="tab-content">
        {% for i in "1234567890" %}
        {% if forloop.counter == 3 %}
        <div id="level{{i}}" class="tab-pane in active">
          {% else %}
          <div id="level{{i}}" class="tab-pane">
            {% endif %}
         {% if forloop.counter == 3%}
            <h2>Level{{i}}</h2>
            <div class="center"><button class="btn btn-info btn-sm">报名</button></div>
         {% elif forloop.counter < 3%}
            <h2>Level{{i}}</h2>
            <div class="center"><span class="label label-xlg label-danger arrowed-in-right arrowed-in">已通过</span></div>
         {% else %}
            <h2>Level{{i}}</h2>
            <div class="center"><button class="btn disabled btn-sm">未开始</button></div>
          {% endif %}
          <hr>
            <div>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                <ul class="list-unstyled spaced2">
                    <li>
                        <i class="ace-icon fa fa-circle green"></i>
                        <font size="4px"><b>考试时间：</b></font>
                        &nbsp;2014-11-04 下午 3:00</p>
                    </li>
                    <li>
                        <i class="ace-icon fa fa-circle green"></i>
                        <font size="4px"><b>考试地点：</b></font>
                        &nbsp; 国家体育馆</p>
                    </li>
                    <li>
                        <i class="ace-icon fa fa-circle green"></i>
                        <font size="4px"><b>举办组织：</b></font>
                        &nbsp;某某俱乐部</p>
                    </li>
                    <li>
                        <i class="ace-icon fa fa-circle green"></i>
                        <font size="4px"><b>考试内容：</b></font>
                        &nbsp;3级体操训练</p>
                    </li>
                    <li>
                        <i class="ace-icon fa fa-circle green"></i>
                        <font size="4px"><b>注意事项：</b></font>
                        &nbsp;请携带。。。于几点之前到达考试地点。。。请勿作弊，违者取消考试资格！
                    </li>
                    </ul>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
</div><!-- /.col -->
