<div class="page-header">
	<h1>
		Club - Annual Check
	</h1>
</div><!-- /.page-header -->
<div class="row">
   <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <div id="user-profile-3" class="user-profile row">
         <div class="col-sm-offset-1 col-sm-10">
            <form class="form-horizontal">
               <div class="tabbable">
                  <div class="tab-content profile-edit-tab-content">
                     <div id="edit-basic" class="tab-pane in active">
                        <div class="row">
                           <div class="col-xs-12 col-sm-8">
                              <div class="space-8"></div>
                              
                              <div class="space-4"></div>
                              <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">club description</label>
                                 <div class="col-sm-8">
                                    <textarea rows="5" cols="100%" class="col-xs-12 col-sm-10" type="text" id="form-field-weight"/>
                                 </div>
                              </div>
                              <div class="space-4"></div>
                              <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">scanned certificate</label>
                                 <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="file" id="form-field-weight"/>
                                 </div>
                              </div>
							  <div class="space-4"></div>
                              <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">building layout</label>
                                 <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="file" id="form-field-weight"/>
                                 </div>
                              </div>
							  <div class="space-4"></div>
                              <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">instrument content</label>
                                 <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" type="file" id="form-field-weight"/>
                                 </div>
                              </div>
							  <div class="space-4"></div>
                              <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">choose coaches</label>
                                 <div class="col-sm-8">
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="col-sm-4">
												<select id="coaches-level" size="1" >                   
													<option value='1'>level 1</option>
													<option value='2'>level 2</option>
													<option value='3'>level 3</option>
												</select>
											</div>
											<div class="col-sm-8">
												<select id="coaches-name" size="1" style="width:100%">                   
													<option value='Raj' selected="true">Raj</option>
													<option value='Amy'>Amy</option>
													<option value='Howard'>Howard</option>
												</select>
											</div>
											
										</div>
									</div>
								</div>
							  </div>
							  <div class="space-4"></div>
                               <div class="form-group">
                                 <label class="col-sm-4 control-label no-padding-right" for="form-field-weight">choose judges</label>
                                 <div class="col-sm-8">
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="col-sm-4">
												<select id="coaches-level" size="1" >                   
													<option value='1'>level 1</option>
													<option value='2'>level 2</option>
													<option value='3'>level 3</option>
												</select>
											</div>
											<div class="col-sm-8">
												<select id="coaches-name" size="1" style="width:100%">                   
													<option value='Raj' selected="true">Sheldon</option>
													<option value='Amy'>Lenard</option>
													<option value='Howard'>Penny</option>
												</select>
											</div>
											
										</div>
									</div>
								</div>
							  </div>
                           </div>
                          
                        </div>
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="button">
									<i class="ace-icon fa fa-check bigger-110"></i>
									save
								</button>

								&nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									reset
								</button>
							</div>
						</div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <!-- /.span -->
      </div>
      <!-- /.user-profile -->
      <!-- PAGE CONTENT ENDS -->
   </div>
   <!-- /.col -->
</div>
