{% extends "./base/base.html" %}

{% block title %} 俱乐部页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="club/evaluate" href="#page/club/evaluate">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 资格评定 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="club/annual_check" href="#page/club/annual_check">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 年审 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a class="dropdown-toggle" href="#">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> 信息管理 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
        <a data-url="club/center" href="#page/club/center">
            <i class="menu-icon fa fa-caret-right"></i>
            基本信息
        </a>
        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="club/member_admin" href="#page/club/member_admin">
            <i class="menu-icon fa fa-caret-right"></i>
            成员管理
        </a>
        <b class="arrow"></b>
        </li>
    </ul>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
$(function(){
        if(window.location.search.length > 0 || !window.location.href.match(/page/)){
        window.location.href=window.location.origin+window.location.pathname+"#page/club/home";
        }
        });

</script>
{% endblock %}
