<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-content">
				<div class="page-content">
					<div class="page-content-area">
						<div class="page-header">
							<h1>
								Club - Home
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
								 <div class="col-sm-offset-1 col-sm-10">
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Name:</label>
												
												<label class="col-sm-8">Club1</label>
												
											</div>
										</div>
										
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Location:</label>
												
												<label class="col-sm-8">Beijing</label>
												
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Registation Time:</label>
												
												<label class="col-sm-8">2014-01-01</label>
												
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Level:</label>
												
												<label class="col-sm-8">1</label>
												
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Latest Annual Check Time:</label>
												
												<label class="col-sm-8">2014-01-01</label>
												
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Number of Students:</label>
												
												<label class="col-sm-8">1000</label>
												
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Judge's statistics:</label>
												
												<div class="col-sm-8">
													<div class="widget-box">
														<div class="widget-header widget-header-flat widget-header-small">
															<h5 class="widget-title">
																<i class="ace-icon fa fa-signal"></i>
																Judge's statistics
															</h5>

														</div>

														<div class="widget-body">
															<div class="widget-main">
																<!-- #section:plugins/charts.flotchart -->
																<div id="piechart-placeholder2"></div>

													
															</div><!-- /.widget-main -->
														</div><!-- /.widget-body -->
													</div><!-- /.widget-box -->
												</div><!-- /.col -->
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-8">
											<div class="space-8"></div>
														
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right">Coach's statistics:</label>
												
												<div class="col-sm-8">
													<div class="widget-box">
														<div class="widget-header widget-header-flat widget-header-small">
															<h5 class="widget-title">
																<i class="ace-icon fa fa-signal"></i>
																Coach's statistics
															</h5>

														</div>

														<div class="widget-body">
															<div class="widget-main">
																<!-- #section:plugins/charts.flotchart -->
																<div id="piechart-placeholder"></div>

													
															</div><!-- /.widget-main -->
														</div><!-- /.widget-body -->
													</div><!-- /.widget-box -->
												</div><!-- /.col -->
											</div>
										</div>
									</div>
									
								</div>
								
								
								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content-area -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->

		</div><!-- /.main-container -->
<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../static/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../../static/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../static/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="../../static/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="../../static/js/jquery-ui.custom.min.js"></script>
		<script src="../../static/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../../static/js/jquery.easypiechart.min.js"></script>
		<script src="../../static/js/jquery.sparkline.min.js"></script>
		<script src="../../static/js/flot/jquery.flot.min.js"></script>
		<script src="../../static/js/flot/jquery.flot.pie.min.js"></script>
		<script src="../../static/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->
		<script src="../../static/js/ace-elements.min.js"></script>
		<script src="../../static/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {

			  var placeholder = $('#piechart-placeholder').css({'width':'90%' , 'min-height':'150px'});
			  var placeholder2 = $('#piechart-placeholder2').css({'width':'90%' , 'min-height':'150px'});
			  var data = [
				{ label: "level 1",  data: 38.7, color: "#68BC31"},
				{ label: "level 2",  data: 24.5, color: "#2091CF"},
				{ label: "level 3",  data: 8.2, color: "#AF4E96"},
				{ label: "level 4",  data: 18.6, color: "#DA5430"},
				{ label: "level 5",  data: 10, color: "#FEE074"}
			  ]
			  var data2 = [
				{ label: "level 1",  data: 30.7, color: "#68BC31"},
				{ label: "level 2",  data: 24.5, color: "#2091CF"},
				{ label: "level 3",  data: 16.2, color: "#AF4E96"},
				{ label: "level 4",  data: 12.6, color: "#DA5430"},
				{ label: "level 5",  data: 16, color: "#FEE074"}
			  ]
			  function drawPieChart(placeholder, data, position) {
			 	  $.plot(placeholder, data, {
					series: {
						pie: {
							show: true,
							tilt:0.8,
							highlight: {
								opacity: 0.25
							},
							stroke: {
								color: '#fff',
								width: 2
							},
							startAngle: 2
						}
					},
					legend: {
						show: true,
						position: position || "ne", 
						labelBoxBorderColor: null,
						margin:[-30,15]
					}
					,
					grid: {
						hoverable: true,
						clickable: true
					}
				 })
			 }
			 
			 drawPieChart(placeholder, data);
			 drawPieChart(placeholder2, data2);
			 /**
			 we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
			 so that's not needed actually.
			 */
			 placeholder.data('chart', data);
			 placeholder.data('draw', drawPieChart);
			 
			 placeholder2.data('chart', data2);
			 placeholder2.data('draw', drawPieChart);
			
			
			  //pie chart tooltip example
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;
			
			  placeholder.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						var tip = item.series['label'] + " : " + item.series['percent']+'%';
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			 
			 placeholder2.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						var tip = item.series['label'] + " : " + item.series['percent']+'%';
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			

			})
		</script>