*.pyc
/sunny_sports/settings.py.back
/sunny_sports/sunny_sports.uwsgi.log
css+js/
/sunny_sports/templates/base/include.back
*.rar
/sunny_sports/media/upload/
/sunny_sports/static/custom/convert_city.py
