
<a data-toggle="dropdown" class="dropdown-toggle" href="#">
  <i class="ace-icon fa fa-exchange icon-animated-exchange"></i>
</a>

<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
  <li class="dropdown-header">
  <i class="ace-icon fa fa-exchange"></i>
  角色切换
  </li>

  {% for r in roles %}
    {% if r.role_id == 2 %}
      <li class="dropdown-footer">
        <a href="/student">
        切换到学生
        <i class="ace-icon fa fa-arrow-right"></i>
        </a>
      </li>
    {% endif %}

    {% if r.role_id == 3%}
      <li class="dropdown-footer">
        <a href="/coach">
          切换到教练
          <i class="ace-icon fa fa-arrow-right"></i>
        </a>
      </li>
    {% endif %}

    {% if r.role_id == 5%}
      <li class="dropdown-footer">
        <a href="/team">
          切换到参赛队
          <i class="ace-icon fa fa-arrow-right"></i>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
