{% extends "./base/base.html" %}

{% block title %} 管理员 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="hsub">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 培训与考试管理 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
        <a data-url="centre/test_check" href="/centre/test_check">
            <i class="menu-icon fa fa-caret-right"></i>
            培训结果审核
        </a>
        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="centre/histroy_view" href="/centre/history_view">
            <i class="menu-icon fa fa-caret-right"></i>
            历史培训查看
        </a>
        <b class="arrow"></b>
        </li>
    </ul>
    </li>

    <li class="">
    <a data-url="centre/msg_publish" href="/centre/msg_publish">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 消息发布 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="password" href="#page/password">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 密码修改</span>
    </a>
    <b class="arrow"></b>
    </li>


</ul><!-- /.nav-list -->
{% endblock %}

{% block content %}
{% endblock %}

{% block script %}
{{ block.super }}

{% endblock %}
