
{% extends base %}

{% block content %}
{{ block.super }}

<div class="page-header"><h1>培训历史信息</h1></div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div>
      <div>
        <div class="profile-info-name">培训编号</div>
        <div class="profile-info-value">{{train.id}}</div>
      </div>
      <div>
        <div class="profile-info-name">培训课程</div>
        <div class="profile-info-value">{{train.name}}</div>
      </div>
      <div>
        <div class="profile-info-name">培训时间</div>
        <div class="profile-info-value">{{train.train_stime}}</div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-name">培训等级</div>
        <div class="profile-info-value">{{train.get_level_display}}</div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-name">培训机构</div>
        <div class="profile-info-value">{{train.org.org_name}}</div>
      </div>
    </div>
    <hr />
    <div>
      <table id="checked-table" class="table table-striped table-bordered table-hover">
        <thead class="thin-border-bottom">
          <tr>
            <th class="center">
              <i class="ace-icon fa fa-user"></i>
              姓名 
            </th>
            <th class="center">学号</th>
            <th class="center">是否通过</th>
            <th class="center">证书编号</th>
            </tr>
          </thead>

          <tbody>
            {% for i in c_t %}
            <tr>
              <td class="center" style="cursor:pointer"><span class="label label-inverse">{{i.coach.property.name}}</span></td>
              <td class="center">{{i.number}}</td>
              <td class="center">{{i.status}}</td>
              <td class="center">{{i.certificate}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        <div class="row center">
          <button class="btn btn-success">下载Excel</button>
        </div>
      </div>
    </div>
      {% endblock %}
