{% extends "./base/base.html" %}

{% block title %} 培训管理机构 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="coach/home" href="#page/coach_org/home">
        <i class="menu-icon fa fa-dashboard"></i> <span class="menu-text"> 首页 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="hsub">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 教练培训与考试管理 </span>
        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
        <a data-url="coach_org/train_publish" href="#page/coach_org/train_publish">
            <i class="menu-icon fa fa-caret-right"></i>
            发布培训信息
        </a>
        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="coach_org/enroll" href="#page/coach_org/enroll">
            <i class="menu-icon fa fa-caret-right"></i>
            当前报名情况
        </a>
        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="coach_org/score_input" href="#page/coach_org/score_input">
            <i class="menu-icon fa fa-caret-right"></i>
            考试信息录入
        </a>
        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="coach_org/train_query" href="#page/coach_org/train_query">
            <i class="menu-icon fa fa-caret-right"></i>
            培训信息查看
        </a>
        <b class="arrow"></b>
        </li>
    </ul>
    </li>

    <li class="">
    <a data-url="coach_org/center" href="#page/coach_org/center">
        <i class="menu-icon fa fa-users"></i> <span class="menu-text"> 个人中心 </span>
    </a>
    <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
    $(function(){
        if(window.location.search.length > 0 || !window.location.href.match(/page/)){
            window.location.href=window.location.origin+window.location.pathname+"#page/coach_org/home";
        }
    });

</script>
{% endblock %}
