{% extends "./base/base.html" %}

{% block title %} 教练员页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="coach/train" href="#page/coach/train">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 教练员培训 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="coach/test" href="#page/coach/test">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 教练员考试</span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="coach/center" href="#page/coach/center">
        <i class="menu-icon fa fa-users"></i> <span class="menu-text"> 个人中心 </span>
    </a>
    <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
    $(function(){
        //var first = window.location.search.split('=')[1]
        var first = 0;

        if(first){
            $.get('/student/complete_info',function(data) {
                bootbox.dialog({
                    message: data,
                    title: "请补全个人信息",
                    buttons: {
                        success: {
                            label: '<i class="ace-icon fa fa-check"></i>确认',
                            className: "btn btn-info btn-sm",
                            callback:function(){
                                window.location.href=window.location.origin+window.location.pathname+"#page/student/games";

                            }
                        },
                        cancel: {
                            label: '<i class="ace-icon fa fa-undo"></i>重置',
                            className: "btn btn-sm",
                        },
                    }
                });
            });

            }else{
            if(window.location.search.length > 0 || !window.location.href.match(/page/)){
                window.location.href=window.location.origin+window.location.pathname+"#page/coach/home";
            }
        }
    });

</script>
{% endblock %}
