{% extends "./coach/base.html" %}
<!--
重载head部分，主要是添加meta，css，js一类
-->
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="../../static/css/bootstrap-editable.css">
{% endblock %}

<!--
重载页面部分
-->
{% block content%}
{{ block.super }}
<div class="page-content-area">
    <div class="page-header">
        <h1>
            个人中心 <small> <i class="ace-icon fa "></i>
                <span>注册时间：{{coach.property.user.regist_time}}</span> &nbsp;&nbsp;&nbsp;
                <span>上次登录时间：{{coach.property.user.last_login}}</span>
            </small>
        </h1>
    </div>
    <!-- /.page-header -->

    {% if messages %}
    <div class="alert alert-danger">
        {% for m in messages %}
        {% if forloop.first %}
        {{ m }}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div id="user-profile-3" class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="space"></div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active"><a data-toggle="tab"
                                href="#edit-basic"> <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                个人信息
                            </a></li>

                            <li><a data-toggle="tab" href="#edit-password"> <i
                                    class="blue ace-icon fa fa-key bigger-125"></i> 密码修改
                            </a></li>
                        </ul>

                        <div class="tab-content profile-edit-tab-content">
                            <div id="edit-basic" class="tab-pane in active">
                                <h4 class="header blue bolder smaller">基本信息</h4>
                                <div class="row">
                                        <div class="col-xs-12 col-sm-offset-1 col-sm-4 ">
                                            <span class="profile-picture">
                                                <img src="{{coach.property.avatar}}" alt="点击更换头像" class="myeditable img-responsive" id="avatar" />
                                                <!-- {% if coach.property.photo and coach.property.photo|length > 0 %}
                                                <img src="{{coach.property.avatar}}" alt="点击更换头像" class="myeditable img-responsive" id="avatar" />
                                                {% else %}
                                                <img src="" alt="点击更换头像" class="myeditable img-responsive" id="avatar" />
                                                {% endif %} -->
                                            </span>
                                            <form action="/coach/up_img" method="post" enctype="multipart/form-data" >
												{% csrf_token %}
												<input type="file" name="headImg"/>
												<input type="submit" value="上传"/>
											</form>
                                        </div>
                                <form class="form-horizontal">
                                    <input class="myeditable" name="csrfmiddlewaretoken" id="token" type="hidden" value="{{csrf_token}}"/>
                                    
                                        <div class="vspace-12-sm"></div>
                                        <div class="col-xs-12 col-sm-7">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                    for="form-field-username">姓名</label>
                                                <div class="col-sm-8">
                                                    <div class="profile-info-value">
                                                        <span class="myeditable editable editable-click" id="name">{{coach.property.name}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                    for="form-field-nickname"> 昵称 </label>
                                                <div class="col-sm-8">
                                                    <div class="profile-info-value">
                                                        <span class="myeditable editable editable-click" id="nickname">{{coach.property.user.nickname}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                    for="form-field-phone">电话</label>
                                                <div class="col-sm-8">
                                                    <div class="profile-info-value">
                                                        <span class="myeditable editable editable-click" id="phone">{{coach.property.user.phone}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right"
                                                    for="form-field-email">邮箱</label>
                                                <div class="col-sm-8">
                                                    <div class="profile-info-value">
                                                        <span class="myeditable editable editable-click" id="email">{{coach.property.user.email}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- ./row -->
                                    <hr />
                                    <div class="row">
                                        <div class="form-group col-sm-5">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-date">出生日期</label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="birth" data-type="combodate" data-template="YYYY-MM-DD" data-format="YYYY-MM-DD" data-viewformat="YYYY-MM-DD">{{coach.property.birth}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-7">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-identity"> 身份证号 </label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="identity">{{coach.property.identity}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label class="col-sm-3 control-label no-padding-right"> 性别 </label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="sex" data-type="select"> {{coach.property.get_sex_display}} </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-7">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-company">单位</label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="company">{{coach.property.company}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-club">俱乐部</label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="club" data-type="select">
                                                        {{ coach.club.name }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-7">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-place">常驻地</label>
                                            <div class="col-sm-2">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="province" name="province" data-type="select">{{coach.property.province}}</span>
                                                    省
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="city" name="city" data-type="select">{{coach.property.city}}</span>
                                                    市
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="dist" name="dist" data-type="select">{{coach.property.dist}}</span>
                                                    区/县
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="profile-info-value">
                                                    <span class="myeditable editable editable-click" id="address">{{coach.property.address}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <h4 class="header blue bolder smaller col-sm-12">级别</h4>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-rank"> 教学等级 </label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span id="t-level">{{coach.get_t_level_display}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                for="form-field-post"> 专业等级 </label>
                                            <div class="col-sm-8">
                                                <div class="profile-info-value">
                                                    <span id="p-level">{{coach.get_p_level_display}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="space"></div>
                                    <div class="row">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button class="btn btn-info" type="button" id="save-btn">
                                                <i class="ace-icon fa fa-check bigger-110"></i> 保存
                                            </button>
                                        </div>
                                        <p id="save-msg" class="col-md-offset-5"></p>
                                    </div>
                                </form>
                            </div>

                            <div id="edit-password" class="tab-pane row">
                                <h4 class="header blue bolder smaller">密码修改</h4>
                                <div class="space-10"></div>
                                {% include "password.html" with csrf_token=csrf_token %}
                            </div> <!-- #edit-password -->
                        </div> <!-- tab-content -->
                    </div> <!-- tab-babble -->

                </div>
                <!-- /.span -->
            </div>
            <!-- /.user-profile -->
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>

<script src="../../static/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="../../static/js/excanvas.min.js"></script>
<![endif]-->
<script src="../../static/js/ace/elements.fileinput.js"></script>
<script src="../../static/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="../../static/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="../../static/js/date-time/moment.min.js"></script>
<script src="../../static/js/select2.min.js"></script>
<script src="../../static/js/fuelux/fuelux.spinner.min.js"></script>
<script src="../../static/js/x-editable/bootstrap-editable.min.js"></script>
<script src="../../static/js/x-editable/ace-editable.min.js"></script>

<script src="../../static/custom/myaddress.js"></script>
<script src="../../static/custom/validate.js"></script>
<script src="../../static/custom/person-info-val.js"></script>
<script src="../../static/custom/avatar.js"></script>

<script type="text/javascript">
    jQuery(function($) {

        $('#token').editable({
            value: '{{csrf_token}}',
            type: 'text',
            name: 'csrfmiddlewaretoken'
        });

        $('#nickname')
        .editable({
            type: 'text',
            name: 'nickname'
        });	


        $('#club').editable({
            source: function(){
                result =[];
                {% for c in clubs %}
                result.push({value:"{{c.id}}", text:"{{c.name}}"});
                {% endfor %}
                return result;
            }()

        });

        $('#company')
        .editable({
            type:'text',
            name:'company'
        });


        // click save btn
        $('#save-btn').click(function() {
            $('.myeditable').editable('submit', { 
                url: '/coach/up_info', 
                ajaxOptions: {
                    dataType: 'json' //assuming json response
                },           
                success: function(data) {
                    if(data && data.success){
                        alert("已保存");
                        location.reload();
                    }
                },
                error: function(errors) {
                    var info = "";
                    for(var k in errors){
                        info += (k+":  "+errors[k]+"\n");
                    }
                    alert(info);
                } 
            });
        });

    });

</script>
<!-- basic scripts -->

{% endblock %}
