{% extends "./coach/base.html" %}
{% block content %}
{{ block.super }}
<!--[if lte IE 8]>
<script src="http://sunny-sports.qiniudn.com/static/js/excanvas.min.js"></script>
<![endif]-->

<div class="page-header"><h1>首页</h1></div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-3 center">
        <div>
            <!-- #section:pages/profile.picture -->
            <span class="profile-picture">
                <img id="avatar" src="http://sunny-sports.qiniudn.com/static/avatars/profile-pic.jpg" />
            </span>

            <!-- /section:pages/profile.picture -->
            <div class="space-4"></div>

            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                <div class="inline position-relative">
                    <span class="white">{{coach.property.user.nickname}}</span>
                </div>
            </div>
        </div>

        <div class="space-6"></div>

        <!-- #section:pages/profile.contact -->
        <div class="profile-contact-info">
            <div class="profile-contact-links align-left">
                <a class="btn btn-link">
                    <i class="ace-icon fa fa-phone bigger-120 green"></i>
                    {{coach.property.user.phone}}
                </a>

                <a class="btn btn-link">
                    <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                    {{coach.property.user.email}}
                </a>
            </div>
        </div>
    </div>

	<div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-6">
        <div class="space-10"></div>
        <div class="col-sm-11">
            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> 姓名 </div>

                    <div class="profile-info-value">
                        <span>{{coach.property.name}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 居住地 </div>

                    <div class="profile-info-value">
                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                        <span>{{coach.property.province}}</span>
                        <span>{{coach.property.city}}</span>
                        <span>{{coach.property.dist}}</span>
                        <span>{{coach.property.address}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 年龄 </div>

                    <div class="profile-info-value">
                        <span>{{coach.property.age}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 工作单位 </div>

                    <div class="profile-info-value">
                        <span>{{coach.property.company}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 所属俱乐部 </div>

                    <div class="profile-info-value">
                        <span>{{coach.club_id}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 等级 </div>

                    <div class="profile-info-value">
                        <span>{{coach.get_t_level_display}}</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> 资格注册 </div>

                    <div class="profile-info-value">
                        {% if coach.isreg %}
                        <span>已注册</span>
                        {% else %}
                        <span><a>未注册</a></span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="col-sm-12">
            <span class="btn btn-app btn-sm btn-success no-hover">
                <span class="line-height-1 bigger-170"><i class="fa fa-trophy"></i></span>

                <br />
                <span class="line-height-1 smaller-90"> 初级荣誉 </span>
            </span>
            <span class="btn btn-app btn-sm btn-primary no-hover">
                <span class="line-height-1 bigger-170"><i class="fa fa-bookmark"></i></span>

                <br />
                <span class="line-height-1 smaller-90"> 初级徽章 </span>
            </span>
        </div>
        -->
    </div>
</div>

<div class="space-20"></div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-5">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    培训
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="profile-activity clearfix">
                        <!-- 这里对等级进行判断，已确定当前显示-->
                        {% if coach.t_level >= 1 %}
                        <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                        初级：已通过
                        {% elif coach.t_level == 0 and ct.pass_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 0 and ct.pass_status == 0 and ct.status == 0 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 0 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 0 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 0 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 0 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 0 and t_count > 0%}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        初级：<a href="/coach/train"> 去报名 </a>
                        {% else %}
                        <i class="pull-left thumbicon fa fa-ban btn-pink no-hover"></i>
                        初级：未进行
                        {% endif %}
                    </div>
                    <div class="profile-activity clearfix">
                        {% if coach.t_level >= 2 %}
                        <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                        中级：已通过
                        {% elif coach.t_level == 1 and ct.pass_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 1 and ct.pass_status == 0 and ct.status == 0 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 1 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 1 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 1 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 1 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 1 and t_count > 0 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        中级：<a href="/coach/train"> 去报名 </a>
                        {% else %}
                        <i class="pull-left thumbicon fa fa-ban btn-pink no-hover"></i>
                        中级：未进行
                        {% endif %}
                    </div>
                    <div class="profile-activity clearfix">
                        {% if coach.t_level >= 3 %}
                        <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                        高级：已通过
                        {% elif coach.t_level == 2 and ct.pass_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 2 and ct.pass_status == 0 and ct.status == 0 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 去报名 </a>
                        {% elif coach.t_level == 2 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 2 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 1 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 已报名 </a>
                        {% elif coach.t_level == 2 and ct.pass_status == 0 and ct.status == 1 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 2 and ct.pass_status == 0 and ct.status == 2 and ct.train.reg_status == 2 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 进行中 </a>
                        {% elif coach.t_level == 2 and t_count > 0 %}
                        <i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
                        高级：<a href="/coach/train"> 去报名 </a>
                        {% else %}
                        <i class="pull-left thumbicon fa fa-ban btn-pink no-hover"></i>
                        高级：未进行
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
