<div class="page-header"><h1>考试管理</h1></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <!-- #section:elements.tab.position -->
    <div class="tabbable">
      <ul class="nav nav-tabs tab-color-blue" id="stu_test_tab">
        <li>
        <a data-toggle="tab" href="#level-low">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          低级
        </a>
        <li class="active">
        <a data-toggle="tab" href="#level-middle">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          中级
        </a>
        </li>
        <li>
        <a data-toggle="tab" href="#level-high">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          高级
        </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="level-low" class="tab-pane">
          <h2>低级</h2>
          <div class="center"><span class="label label-xlg label-danger arrowed-in-right arrowed-in">已通过</span></div>
          <hr />
          <div class="row"> 
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <ul class="list-unstyled spaced2">
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试时间：</b></font>
                &nbsp;2014-11-04 下午 3:00</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试地点：</b></font>
                &nbsp; 国家体育馆</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>举办组织：</b></font>
                &nbsp;某某俱乐部</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试内容：</b></font>
                &nbsp;初级体操训练</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>注意事项：</b></font>
                &nbsp;请携带。。。于几点之前到达考试地点。。。请勿作弊，违者取消考试资格！
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="level-middle" class="tab-pane in active">
          <h2>中级</h2>
          <div class="center"><button class="btn btn-info btn-sm">报名</button></div>
          <hr>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <ul class="list-unstyled spaced2">
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试时间：</b></font>
                &nbsp;2014-11-04 下午 3:00</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试地点：</b></font>
                &nbsp; 国家体育馆</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>举办组织：</b></font>
                &nbsp;某某俱乐部</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试内容：</b></font>
                &nbsp;中级体操训练</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>注意事项：</b></font>
                &nbsp;请携带。。。于几点之前到达考试地点。。。请勿作弊，违者取消考试资格！
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="level-high" class="tab-pane">
          <h2>高级</h2>
          <div class="center"><button class="btn disabled btn-sm">未开始</button></div>
          <hr />
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <ul class="list-unstyled spaced2">
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试时间：</b></font>
                &nbsp;2014-11-04 下午 3:00</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试地点：</b></font>
                &nbsp; 国家体育馆</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>举办组织：</b></font>
                &nbsp;某某俱乐部</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>考试内容：</b></font>
                &nbsp;高级体操训练</p>
                </li>
                <li>
                <i class="ace-icon fa fa-circle green"></i>
                <font size="4px"><b>注意事项：</b></font>
                &nbsp;请携带。。。于几点之前到达考试地点。。。请勿作弊，违者取消考试资格！
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /section:elements.tab.position -->
</div><!-- /.col -->
