<div class="page-header"><h1>考试管理</h1></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <!-- #section:elements.tab.position -->
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" id="stu_test_tab">
        <li>
        <a data-toggle="tab" href="#level-low">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          低级
        </a>
        <li class="active">
        <a data-toggle="tab" href="#level-middle">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          中级
        </a>
        </li>
        <li>
        <a data-toggle="tab" href="#level-high">
          <i class="pink ace-icon glyphicon glyphicon-star bigger-110"></i>
          高级
        </a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="level-low" class="tab-pane">
          <h2>低级</h2>
          <div class="center"><span class="label label-xlg label-danger arrowed-in-right arrowed-in">已结束</span></div>
          <hr>
          <p>代码写在这里哦～</p>
        </div>
        <div id="level-middle" class="tab-pane in active">
          <h2>中级</h2>
          <div class="center"><button class="btn btn-info btn-sm">报名</button></div>
          <hr>
          <p>代码写在这里哦～</p>
        </div>
        <div id="level-high" class="tab-pane">
          <h2>高级</h2>
          <div class="center"><button class="btn disabled btn-sm">未开始</button></div>
          <hr>
          <p>代码写在这里哦～</p>
        </div>
      </div>
    </div>
  </div>

  <!-- /section:elements.tab.position -->
</div><!-- /.col -->
