
<script type="text/javascript" src="../../static/custom/admin-elist.js"></script>

<div class="page-header"><h1>成绩管理</h1></div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h3 class="header pink">项目成绩</h3>
    <div class="row">
      <div class="dd col-xs-5" id="nestable">
        <ol class="dd-list">
          <li class="dd-item" data-id="">
          <div class="dd-handle">单项</div>
          <ol class="dd-list" id="person-elist">
            {% for i in "123498" %}
            <li class="dd-item" data-id="Event {{i}}" >
            <div class="dd-handle dd2-handle btn-info" title="编辑">
              <i class="normal-icon ace-icon fa fa-pencil-square-o bigger-130 blue"></i>

              <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
            </div>
            <div class="dd2-content no-hover">
              Event {{i}}
              <!--
              <a class="dd-handle" data-url="admin/score_event_person" href="#page/admin/score_event_person?event=Event{{i}}">
                Event {{i}}
              </a>
              -->
              <span class="label label-info pull-right">未发布</span>
            </div>
            </li>
            {% endfor %}
          </ol>
          </li>
        </ol>
      </div>
      <div class="dd col-xs-1"></div>
      <div class="dd col-xs-5" id="nestable">
        <ol class="dd-list">
          <li class="dd-item" data-id="">
          <div class="dd-handle">团体</div>
          <ol class="dd-list" id="group-elist">
            {% for i in "5678" %}
            <li class="dd-item" data-id="Event {{i}}">
            <div class="dd-handle dd2-handle btn-info" title="查看">
              <i class="normal-icon ace-icon fa fa-eye bigger-130 green"></i>

              <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
            </div>
            <div class="dd2-content no-hover">
              Event {{i}}
              <!--
            <a class="dd-handle" data-url="admin/score_event_group" href="#page/admin/score_event_group?event=Event{{i}}">
              Event {{i}}
            </a>
            -->
              <span class="label label-success pull-right">发布</span>
            </div>
            </li>
            {% endfor %}
          </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="space24"></div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h3 class="header purple">团队成绩</h3>
    <div class="dd col-xs-5" id="nestable">
      <ol class="dd-list" id="group">
        <li class="dd-item">
        <div class="dd-handle dd2-handle btn-info" title="查看">
          <i class="normal-icon ace-icon fa fa-eye bigger-130 green"></i>

          <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
        </div>
        <div class="dd2-content no-hover">
          团体成绩
          <span class="label label-success pull-right">发布</span>
        </div>
        </li>
      </ol>
    </div>
  </div>
</div>
