<div class="page-header">
	<h1>考试信息查看</h1>
</div>

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="profile-user-info profile-user-info-striped">
			<div class="profile-info-row">
                      <div class="profile-info-name">考试班次</div>
                      <div class="profile-info-value">ABC1234</div>
                    </div>
                    <div class="profile-info-row">
                      <div class="profile-info-name">考试等级</div>
                      <div class="profile-info-value">中</div>
                    </div>
                    <div class="profile-info-row">
                      <div class="profile-info-name">考试时间</div>
                      <div class="profile-info-value">2014.10.20 14:00</div>
                    </div>
                    <div class="profile-info-row">
                      <div class="profile-info-name">考试地点</div>
                      <div class="profile-info-value">北京市体育中心</div>
                    </div>
		</div>
	</div>
</div>