
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" id="pwd-form">
    <form method="post" id="pwd-form" action="">
      {% csrf_token %}
      <label class="block clearfix">
        <span class="block input-icon input-icon-right">
          <input style="display:none"><!-- for disable autocomplete on chrome -->
          <input required="required" name="old_password" type="password" class="form-control" placeholder="原密码" autocomplete="off"/>
          <i class="ace-icon fa fa-lock"></i>
        </span>
      </label>
      {% include "components/register/password.html" %}
      <div class="space"></div>
      <!--
      <input type="hidden" name="phone" value={{phone}}> </input>
      {% include "components/register/v_code.html" %}
      -->
    </form>
      <div class="col-md-offset-5 col-md-6">
        <button class="btn btn-info" id="pwd-btn">
          确定
        </button>
      </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<script type="text/javascript" src="../../static/js/jquery.min.js"> </script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#pwd-btn").click(function(e){
      e.preventDefault();
      para = $('#pwd-form').serialize();
      console.log(para)
      $.post('/password', para, function(data){
        if(data['success']){
          $('#pwd-form').trigger("reset");
        }
        alert(data['msg']);
      });
    });
  });
</script>
