<form class="form-horizontal" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <!--
  <div id="edit-password">
    <div class="space-10"></div>
    <div class="row-fluid">
      <label class="col-sm-3 control-label " for="form-field-pass1">新密码</label>
      <div class="col-sm-9">
        <input type="password" id="form-field-pass1" />
      </div>
    </div>

    <div class="space-10"></div>
    <div class="row-fluid">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">确认密码</label>
      <div class="col-sm-9">
        <input type="password" id="form-field-pass2" />
      </div>
    </div>
    -->

    <div class="space-10"></div>
    <div class="row-fluid">
      <div class="col-md-offset-3 col-md-9">
        <button class="btn" type="submit">
          <i class="ace-icon fa fa-undo bigger-110"></i>
          重置密码
        </button>
      </div>
    </div>
  </div>
</form>
