

<label class="block clearfix">
  <span class="block input-icon input-icon-right">
    <input id="{{form.hidden_input_id}}" required="required" type="hidden" value={{form.cptch_key}} />
    <input required="required"  class="form-control" name="captcha_1" placeholder="图形验证码" id="{{form.input_id}}" />
    <img class="width-47" style="float:right; margin-top:-32px; cursor:pointer;z-index:100; position:relative" alt="点击更换" id={{form.img_id}} src="{{form.cptch_img}}"/>
  </span>
</label>

<label class="block clearfix">
  <span class="block input-icon input-icon-right">
    <input required="required" rule="required|number|min:6" type="verify" class="form-control" name="v_code" placeholder="短信验证码" >
    <button type="button" class="btn btn-sm btn-inverse v-code" id="{{btn_id}}" style="float:right;margin-top:-34px">获取验证码</button>
    </input>
  </span>
</label>

<script>
jQuery(function() {

  //获取验证码
	var get_captcha = function(){
	  $.get('/get_captcha',function(res){
      $('#{{form.hidden_input_id}}').attr('value',res['cptch_key'])
      $('#{{form.img_id}}').attr('src', res['cptch_img']);
	  });
	}
	//get_captcha();
  $('#{{form.img_id}}').click(function(){
	  get_captcha();
	});

	var wait = 60; //时间 
	function time(o, p) { //o为按钮的对象，p为可选，这里是60秒过后，提示文字的改变 
		if (wait == 0) {
			o.removeAttr("disabled");
			o.html("获取验证码"); //改变按钮中value的值 
			wait = 60;
		} else {
			o.attr("disabled", true); //倒计时过程中禁止点击按钮 
			o.html(wait + "秒后重新获取"); //改变按钮中value的值 
			wait--;
			setTimeout(function() {
				time(o, p); //循环调用 
			},
			1000);
		}
	}

  $("#{{btn_id}}").click(function() {
		$btn = $(this);
		phone = $(this).closest("form").find("input[name=phone]");
		if (phone.val().length == 0) {
			phone.closest(".form-group").addClass("has-error");
		} else {
			$.post("/vcode", {
				"phone": phone.val(),
        "captcha_0":$('#{{form.hidden_input_id}}').val(),
        "captcha_1":$('#{{form.input_id}}').val()
			},
			function(data) {
				if (data['msg'] == 'ok') {
					time($btn, null);
				} else {
					$btn.html("请重试");
          alert(data['msg']);
				}
			});
		}
	});
});

</script>
