<script src="../../static/js/jquery.dataTables.min.js"></script>
<script src="../../static/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
	jQuery(function($) {
		var oTable1 = $('#sample-table-2')
		.dataTable({
			bAutoWidth : false,
			"aoColumns" : [ null, null, null ],
			"aaSorting" : [],
		});
	})
</script>

<div class="page-header">
	<h1>俱乐部资格评定</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-sm-1"></div>

		<div class="col-sm-10">
			<div class="table-header">待评定的俱乐部</div>
			<div>
				<table id="sample-table-2"
					class="table table-striped table-bordered table-hover">
					<thead>
						<tr>

							<th>ID</th>

							<th>俱乐部名称</th>
							<th>负责人</th>
							
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="hidden-480">001</td>
							<td><a href="#page/admin/club_evaluate_detail">0001(靓靓)</a></td>

							<td>100</td>
							
						</tr>

						<tr>
							<td class="hidden-480">002</td>
							<td><a href="#page/admin/club_evaluate_detail">0002(yy)</a></td>
												

							<td></td>
							

						</tr>

						<tr>

							<td class="hidden-480">003</td>
							<td><a href="#page/admin/club_evaluate_detail">0098(二毛)</a></td>
							<td></td>
							

						</tr>

						<tr>

							<td class="hidden-480">004</td>
							<td><a href="#page/admin/club_evaluate_detail">9987(三毛)</a></td>

							<td></td>
							

						</tr>

						<tr>

							<td class="hidden-480">005</td>
							<td><a href="#page/admin/club_evaluate_detail">0097(大毛)</a></td>
							<td></td>
							

						</tr>

						<tr>

							<td class="hidden-480">006</td>
							<td><a href="#page/admin/club_evaluate_detail">7688(张三)</a></td>
							<td></td>
							

						</tr>

						<tr>

							<td class="hidden-480">007</td>
							<td><a href="#page/admin/club_evaluate_detail">8789(李四)</a></td>
							<td></td>
							


						</tr>

						<tr>

							<td class="hidden-480">008</td>
							<td><a href="#page/admin/club_evaluate_detail">6567(王五)</a></td>
							<td></td>
						</tr>

						<tr>


							<td class="hidden-480">009</td>
							<td><a href="#page/admin/club_evaluate_detail">0007(萌萌哒)</a></td>
							<td></td>
							


						</tr>

						<tr>

							<td class="hidden-480">010</td>
							<td><a href="#page/admin/club_evaluate_detail">7224(凯撒)</a></td>
							<td></td>
							
						</tr>
						{% for i in "12345" %}
						<tr>

							<td class="hidden-480">011</td>
							<td><a href="#page/admin/club_evaluate_detail">5433(老人)</a></td>
							<td></td>
							

						</tr>
						{% endfor %} {% for i in "123456789" %}
						<tr>
							<td class="hidden-480">012</td>
							<td><a href="#page/admin/club_evaluate_detail">3567(ss)</a></td>
							<td></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
