
<div class="row">
  <div class="col-xs-12">
    <div class="profile-user-info profile-user-info-striped">

      <div class="profile-info-row">
        <div class="profile-info-name"> 参赛队名 </div>
        <div class="profile-info-value">
          <span class="editable" id="username">ABC</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 参赛队编号 </div>
        <div class="profile-info-value">
          <span class="editable" id="country">123456</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 所属地 </div>
        <div class="profile-info-value">
          <i class="fa fa-map-marker light-orange bigger-110"></i>
          <span class="editable" id="age">北京市海淀区</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 单位 </div>
        <div class="profile-info-value">
          <span class="editable" id="signup">XYZ幼儿园</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 负责人</div>
        <div class="profile-info-value">
          <i class="fa fa-user light-orange bigger-110"></i>
          <span class="editable" id="login">张三</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 负责人联系方式</div>
        <div class="profile-info-value">
          <i class="fa fa-phone light-orange bigger-110"></i>
          <span class="editable" id="about">123456789</span>
        </div>
      </div>

      <div class="profile-info-row">
        <div class="profile-info-name"> 选手名单</div>
        <div class="profile-info-value">
          <span class="editable" id="about">选手1</span>
          <span class="editable" id="about">选手2</span>
          <span class="editable" id="about">选手3</span>
          <span class="editable" id="about">选手4</span>
          <span class="editable" id="about">选手5</span>
        </div>
      </div>

      {% if checked %}
      <div class="profile-info-row">
        <div class="profile-info-name"> 项目名单</div>
        <div class="profile-info-value">
          <span class="editable" id="about">项目1</span>
          <span class="editable" id="about">项目2</span>
          <span class="editable" id="about">项目3</span>
          <span class="editable" id="about">项目4</span>
          <span class="editable" id="about">团体比赛</span>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
