<div class="col-xs-12">
  <div class="sol-xs-10">
    <h3 class="header pink">项目成绩</h3>
    <div class="dd" id="nestable">
      <ol class="dd-list">
        <li class="dd-item" data-id="1">
        <div class="dd-handle">单项</div>

        <ol class="dd-list" id="group-elist">
          {% for i in "1234" %}
          <li class="dd-item" data-id={{i}}>
          <div class="dd-handle" data-url="admin/score_event_person">
            Event {{i}}
          </div>
          </li>
          {% endfor %}
        </ol>
        </li>
        <li class="dd-item" data-id="2">
        <div class="dd-handle">团体</div>

        <ol class="dd-list" id="person-elist">
          {% for i in "5678" %}
          <li class="dd-item" data-id={{i}}>
          <div class="dd-handle" data-url="admin/score_event_group">
            Event {{i}}
          </div>
          </li>
          {% endfor %}
        </ol>
        </li>
      </ol>
    </div>
  </div>
  <br>
  <br>
  <div>
    <h3 class="header purple">团队成绩</h3>
    <div class="dd" id="nestable">
      <ol class="dd-list" id="group">
        <li class="dd-item" data-id="1">
        <div class="dd-handle">团体</div>
        </li>
      </ol>
    </div>
  </div>
</div>

<script>
$(function(){

    $('#group-elist li').click(function(){
      t = $(this).find('div').text();
      $.get('/admin/score_event_group?event='+t, function(data){
        $area = $(".page-content-area");
        $area.empty();
        $area.append($(data));
        });
    });

    $('#person-elist li').click(function(){
      t = $(this).find('div').text();
      $.get('/admin/score_event_person?event='+t, function(data){
        $area = $(".page-content-area");
        $area.empty();
        $area.append($(data));
        });
    });

    $('#group li').click(function(){
      $.get('/admin/score_group', function(data){
        $area = $(".page-content-area");
        $area.empty();
        $area.append($(data));
        });
    });

});
</script>
