<div class="row">
  <div class="col-sm-12 widget-container-col">
    <div class="widget-box transparent">
      <div class="widget-header">
        <h4 class="widget-title blue">{% event %}</h4>

        <div class="widget-toolbar no-border">
          <a href="#" data-action="fullscreen" class="oranges">
            <i class="ace-icon fa fa-expand"></i>
          </a>
          <a href="#" data-action="reload">
            <i class="ace-icon fa fa-refresh"></i>
          </a>

          <a href="#" data-action="collapse">
            <i class="ace-icon fa fa-chevron-up"></i>
          </a>
        </div>
      </div>

      <div class="widget-body">
        <div class="widget-main no-padding">
          <table id="not-check-table" class="table table-striped table-bordered table-hover">
            <thead class="thin-border-bottom">
              <tr>
                <th class="center">项目名称</th>
                <th class="center">参赛队</th>
                <th class="center">选手姓名</th>
                <th class="center">选手参赛编号</th>
                <th class="center">成绩</th>
                <th class="center">奖项</th>
              </tr>
            </thead>

            <tbody>
            {% for i in "1234567890123456789" %}
            <tr>
              <td></td>
              <td>ABC{{ i }}</td>
              <td>选手{{ i }}</td>
              <td>{{i}}</td>
              <td>
                <input class="input-sm" type="text"></input>
              </td>
              <td>
                <select class="form-control" id="form-field-select-1">
                  <option value="">无</option>
                  <option value="first">单项一等奖</option>
                  <option value="second">单项二等奖<</option>
                  <option value="third">单项三等奖<</option>
                </select>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="widget-toobox padding-8 clearfix">
          <button class="btn btn-xs btn-success center">保存</button>
          <button class="btn btn-xs btn-danger center">发布</button>
        </div>
      </div>
    </div>
  </div>
</div>
