<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../static/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="../../static/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../../static/css/ace.min.css" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../static/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="../../static/css/ace-skins.min.css" />
		<link rel="stylesheet" href="../../static/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../static/css/ace-ie.min.css" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="../../static/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../static/js/html5shiv.js"></script>
		<script src="../../static/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
		<!-- #section:basics/navbar.layout -->
        {% include './include/header.html' %}
        {% include './include/main-container.html' %}

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../../static/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../../static/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../../static/js/bootstrap.min.js"></script>

		<!-- ace scripts -->
		<script src="../../static/js/ace-elements.min.js"></script>
		<script src="../../static/js/ace.min.js"></script>
		<script type="text/javascript">
		//	//Load content via ajax
		//			jQuery(function($) {
		//			  if('enable_ajax_content' in ace) {
		//				var options = {
		//				  content_url: function(url) {
		//					//this is for Ace demo only, you should change it
		//					//please refer to documentation for more info
		//				
		//					if(!url.match(/^page\//)) return false;
		//					
		//					var path = document.location.pathname;
		//					
		//					//for Ace HTML demo version, convert ajax.html#page/gallery to > gallery.html and load it
		//					if(path.match(/ajax\.html/)) return path.replace(/ajax\.html/, url.replace(/^page\//, '')+'.html') ;
		//			
		//					//for Ace PHP demo version convert "page/dashboard" to "?page=dashboard" and load it
		//					return path + "?" + url.replace(/\//, "=");
		//				  },
		//				  default_url: 'page/index'//default url
		//				}
		//				ace.enable_ajax_content($, options)
		//			  }
		//			    
		//			})
		//</script>
	</body>
</html>
