{% extends "./base/base.html" %}

{% block title %} 学员页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="student/games" href="#page/student/games">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 比赛列表</span>
    </a>

    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="student/test" href="#page/student/test">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 学员考级</span>
    </a>

    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="student/center" href="#page/student/center">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> 个人中心 </span>
    </a>

    <b class="arrow"></b>

    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
$(function(){
        var first = window.location.search.split('=')[1]
        console.log(first);
        
  if(first){
    $.get('/student/complete_info',function(data) {
      bootbox.dialog({
message: data,
title: "请补全个人信息",
buttons: {
success: {
label: '<i class="ace-icon fa fa-check"></i>确认',
className: "btn btn-info btn-sm",
callback:function(){
window.location.href=window.location.origin+window.location.pathname+"#page/student/games";

}
},
cancel: {
label: '<i class="ace-icon fa fa-undo"></i>重置',
className: "btn btn-sm",
},
}
});
      });

}else{
window.location.href=window.location.origin+window.location.pathname+"#page/student/games";
}
        });

</script>
{% endblock %}
