<script src="../../static/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="../../static/css/chosen.css" />
<script type="text/javascript">
    jQuery(function($) {
        $('.chosen-select').chosen({allow_single_deselect:true});
    });
</script>
<div class="page-header">
    <h1>
                        学员
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
                                    参赛队报名
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-xs-12">
        {% for i in "1" %}
        {% if forloop.first %}
        <h4>您未报名</h4>
        <form class="form-horizontal" role="form">
            <div>
                <label for="form-field-select-3">请选择参赛队：</label>
                <br />
                <select class="chosen-select" id="form-field-select-3" style="width:331px" data-placeholder="请选择。。。">
                    <option value="">  </option>
                    <option value="AL">队1</option>
                    <option value="AK">队2</option>
                    <option value="AZ">三队</option>
                    <option value="AR">四队</option>
                    <option value="CA">Queen</option>
                    <option value="CO">拉拉队</option>
                    <option value="CT">3511</option>
                    <option value="DE">七朵花</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="WY">Wyoming</option>
                </select>
                <br/>
                </p>
                <button class="btn btn-sm btn-primary">确认选择</button>
            </div>
        </form>
        {% else %}
        <div>
            <h4>您已报名</h4>
            <h3>参赛队：</h3>
            <h4>queen&nbsp&nbsp&nbsp&nbsp(正在审核)</h4>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>