<body>
<div class="page-header">
	<h1>
		比赛进行
	</h1>
</div><!-- /.page-header -->
<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<!-- #section:pages/timeline -->
		<div class="timeline-container">
			<div class="timeline-label">
				<span class="label label-success arrowed-in-right label-lg">
					<b>比赛结束  2014年10月24日</b>
				</span>
			</div>

			<div class="timeline-items">
				<div class="timeline-item clearfix">
					<div class="timeline-info">
						<i class="timeline-indicator ace-icon fa fa-trophy btn btn-pink no-hover green"></i>
					</div>

					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h5 class="widget-title smaller">比赛项目</h5>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								<table id="sample-table-1" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th>项目名称</th>
													<th class="hidden-480">成绩</th>
												</tr>
											</thead>

											<tbody>
												<tr>
													<td>
														<a href="#">ace.com</a>
													</td>
													<td>$45</td>
												</tr>

												<tr>													
													<td>
														<a href="#">ace.com</a>
													</td>
													<td>$45</td>
												</tr>

												<tr>
													<td>
														<a href="#">ace.com</a>
													</td>
													<td>$45</td>
												</tr>
											</tbody>
										</table>
							</div>
						</div>
					</div>
				</div>

				<div class="timeline-label">
					<span class="label label-primary arrowed-in-right label-lg">
					<b>比赛开始   2014年6月17日</b>
					</span>
				</div>
				<div class="timeline-item clearfix">
					<div class="timeline-info">
						<i class="timeline-indicator ace-icon fa fa-bug btn btn-danger no-hover"></i>
					</div>

					<div class="widget-box widget-color-red2">
						<div class="widget-header widget-header-small">
							<h5 class="widget-title smaller">当前状态</h5>

							<span class="widget-toolbar no-border">
								<i class="ace-icon fa fa-clock-o bigger-110"></i>
								9:15
							</span>

							<span class="widget-toolbar">
								<a href="#" data-action="reload">
									<i class="ace-icon fa fa-refresh"></i>
								</a>

								<a href="#" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up"></i>
								</a>
							</span>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								<span>未报名</span>
								<a href="#"><button class="btn btn-xs btn-primary join">报名</button></a>
							</div>
							<div class="widget-main">
								等待参赛队挑选
							</div>
							<div class="widget-main">
								<span>未被参赛队选中</span>
								<a href="#"><button class="btn btn-xs btn-primary join">报名</button></a>
							</div>
							<div class="widget-main">
								等待参赛队审核
							</div>
							<div class="widget-main">
								<span>参赛队审核失败</span>
								<a href="#"><button class="btn btn-xs btn-primary join">报名</button></a>
							</div>
							<div class="widget-main">
								参赛队审核成功
							</div>
						</div>
					</div>
				</div>
				<div class="timeline-label">
					<span class="label label-primary arrowed-in-right label-lg">
					<b>报名开始   2014年5月17日</b>
					</span>
				</div>
			</div><!-- /.timeline-items -->
		</div><!-- /.timeline-container -->

		<div class="timeline-container">
			<div class="timeline-items">
				<div class="timeline-item clearfix">
					<div class="timeline-info">
						<i class="timeline-indicator ace-icon fa fa-leaf btn btn-primary no-hover green"></i>
					</div>

					<!-- /section:pages/timeline.info -->
					<div class="widget-box transparent">
						<div class="widget-header widget-header-small">
							<h5 class="widget-title smaller">
								比赛介绍
							</h5>

							<span class="widget-toolbar no-border">
								<i class="ace-icon fa fa-clock-o bigger-110"></i>
								16:22
							</span>

							<span class="widget-toolbar">
								<a href="#" data-action="reload">
									<i class="ace-icon fa fa-refresh"></i>
								</a>

								<a href="#" data-action="collapse">
									<i class="ace-icon fa fa-chevron-up"></i>
								</a>
							</span>
						</div>

						<div class="widget-body">
							<div class="widget-main">
								呵呵呵呵呵呵
								<div class="space-6"></div>

								<div class="widget-toolbox clearfix">
									<div class="pull-left">
										<i class="ace-icon fa fa-hand-o-right grey bigger-125"></i>
										<a href="#" class="bigger-110">点击查看更多 &hellip;</a>
									</div>

									<!-- #section:custom/extra.action-buttons -->
									<div class="pull-right action-buttons">
										<a href="#">
											<i class="ace-icon fa fa-check green bigger-130"></i>
										</a>

										<a href="#">
											<i class="ace-icon fa fa-pencil blue bigger-125"></i>
										</a>

										<a href="#">
											<i class="ace-icon fa fa-times red bigger-125"></i>
										</a>
									</div>

									<!-- /section:custom/extra.action-buttons -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.timeline-items -->
		</div><!-- /.timeline-container -->

		<!-- /section:pages/timeline -->
	</div>
</div>

<script type="text/javascript">

$('a .join').click(function(){
	$.get('/student/join',function(data) {
    	bootbox.dialog({
			message: data,
			title: "请选择参赛队",
			buttons: {
			success: {
				label: '<i class="ace-icon fa fa-check"></i>确认',
				className: "btn btn-info btn-sm",
			},
			cancel: {
				label: '<i class="ace-icon fa fa-undo"></i>取消',
				className: "btn btn-sm",
					},
			}
		});
    });
});
</script>	

</body>