<div class="page-header">
    <h1>
                        某某比赛名
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div class="row">
        
                
        <div class="col-sm-1">
        </div>
            <div class="col-sm-10">
                <div id="intro" class="accordion-style1 panel-group accordion-style2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#intro" href="#content">
                                    <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                                                                            比赛介绍
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse in" id="content">
                            <div class="panel-body">
                                                                                                谁、什么时候举办了这场比赛，比赛内容，宗旨。。。。
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div id="group" class="accordion-style1 panel-group accordion-style2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#group" href="#info">
                                    <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                                                                            参赛队——某某队名
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse in" id="info">
                            <div class="panel-body">
                                                                                                队号：CSD20141111</p>
                                                                                                比赛号：CSD20141111group111</p>
                                                                                                负责人：洋洋姐（电话：111111111）</p>
                                                                                                队员：靓靓、红红。。。。。。。。
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr/>
                
            </div>
        </div><!-- /.col -->
    </div><!-- /.col -->
</div><!-- /.row -->