[Unit]
Description=Celery beat
After=network.target

[Service]
#Type=forking
User=kltc
Group=kltc
WorkingDirectory=/usr/share/nginx/sunny_sports/
EnvironmentFile=-/etc/sysconfig/celerybeat
ExecStart=/usr/bin/celery beat -A ${CELERY_APP} 
    --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}

[Install]
WantedBy=multi-user.target
