[Unit]
Description=Celery workers
After=network.target

[Service]
Type=forking
User=kltc
Group=kltc
EnvironmentFile=-/etc/sysconfig/celery
WorkingDirectory=/usr/share/nginx/sunny_sports/
ExecStart=/usr/bin/celery multi start $CELERYD_NODES\
    -A ${APP} --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}
ExecStop=/usr/bin/celery multi stopwait $CELERYD_NODES --pidfile=${CELERYD_PID_FILE}
ExecReload=/usr/bin/celery multi restart $CELERYD_NODES \
    -A ${APP} --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}

[Install]
WantedBy=multi-user.target
