  <div class="space"></div>

  <label class="block clearfix">
    <span class="block input-icon input-icon-right">
      <input method="post" name="username" required="required" type="text" class="form-control" placeholder="手机号码/昵称/邮箱" />
      <i class="ace-icon fa fa-user"></i>
    </span>
  </label>

  <label class="block clearfix">
    <span class="block input-icon input-icon-right">
      <input method="post" name="password" required="required" type="password" class="form-control" placeholder="密码" />
      <i class="ace-icon fa fa-lock"></i>
    </span>
  </label>

  <div class="space"></div>

  <div class="clearfix">
    <label class="inline">
      <input method="post" type="checkbox" class="ace" />
      <span class="lbl"> 记住密码</span>
    </label>

    <button type="sumbit" class="login-btn width-35 pull-right btn btn-sm btn-primary">
      <i class="ace-icon fa fa-key"></i>
      <span class="bigger-110">登录</span>
    </button>
  </div>

  <div class="space-4"></div>
