
<div class="page-header"><h2>比赛信息</h2></div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div>
            <div class="profile-info-row">
                <div class="profile-info-name">发布机构</div>
                <div class="profile-info-value">{{game.org.name}}</div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">联系人</div>
                <div class="profile-info-value">{{game.contact_name}},{{game.contact_phone}},{{game.contact_email}}</div>
            </div>
            <div >
                <div class="profile-info-name">比赛编号</div>
                <div class="profile-info-value">{{game.id}}</div>
            </div>
            <div>
                <div class="profile-info-name">比赛名称</div>
                <div class="profile-info-value">{{game.name}}</div>
            </div>
            <div>
                <div class="profile-info-name">主办单位</div>
                <div class="profile-info-value">{{game.sponser}}</div>
            </div>
            <div>
                <div class="profile-info-name">承办单位</div>
                <div class="profile-info-value">{{game.organizer}}</div>
            </div>
            <div>
                <div class="profile-info-name">协办单位</div>
                <div class="profile-info-value">{{game.coorganizer}}</div>
            </div>
            <div>
                <div class="profile-info-name">比赛地点</div>
                <div class="profile-info-value">{{game.address}}</div>
            </div>
            <div>
                <div class="profile-info-name">报名开始时间</div>
                <div class="profile-info-value">{{game.reg_stime}}</div>
            </div>
            <div>
                <div class="profile-info-name">报名结束时间</div>
                <div class="profile-info-value">{{game.reg_etime}}</div>
            </div>
            <div>
                <div class="profile-info-name">比赛开始时间</div>
                <div class="profile-info-value">{{game.game_stime|date:"Y-m-d"}}</div>
            </div>
            <div>
                <div class="profile-info-name">比赛结束时间</div>
                <div class="profile-info-value">{{game.game_etime|date:"Y-m-d"}}</div>
            </div>
            <div>
                <div class="profile-info-name">上限人数</div>
                <div class="profile-info-value">{{game.limit}}</div>
            </div>
            <div>
                <div class="profile-info-name">每队男生人数</div>
                <div class="profile-info-value">{{game.male_num}}</div>
            </div>
            <div>
                <div class="profile-info-name">每队女生人数</div>
                <div class="profile-info-value">{{game.female_num}}</div>
            </div>
            <div>
                <div class="profile-info-name">费用/人</div>
                <div class="profile-info-value">{{game.money}}</div>
            </div>
            <div>
                <div class="profile-info-name">比赛简介</div>
                <div class="profile-info-value">{{game.description}}</div>
            </div>
        </div>
    </div>
</div>
