
<div class="page-header"><h2>参赛机构信息</h2></div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div>
      <div class="profile-info-row">
        <div class="profile-info-name">参赛机构</div>
        <div class="profile-info-value">{{group.name}}</div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-name">法人姓名</div>
        <div class="profile-info-value">{{group.corporator}}</div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-name">办公电话</div>
        <div class="profile-info-value">{{group.office_num}}</div>
      </div>
      <div class="profile-info-row">
        <div class="profile-info-name">工商执照</div>
        {% if group.license|length == 0 %}
        <div class="profile-info-value">未上传</div>
        {% else %}
        <div class="profile-info-value"><a href="{{PHOTO_ROOT}}{{group.license}}" target="_blank">点击查看</a></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="page-header"><h2>参赛队信息</h2></div>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div>
      <div class="profile-info-row">
        <div class="profile-info-name">参赛队名</div>
        <div class="profile-info-value">{{team.name}}</div>
      </div>
      <div >
        <div class="profile-info-name">参赛队编号</div>
        <div class="profile-info-value">{{team.id}}</div>
      </div>
      <div>
        <div class="profile-info-name">参赛队员</div>
        <div class="profile-info-value">{{game.name}}</div>
      </div>
      <div>
        <div class="profile-info-name">领队</div>
        <div class="profile-info-value">{{team.leader}}</div>
      </div>
      <div>
        <div class="profile-info-name">联系人</div>
        <div class="profile-info-value">{{team.contact_name}}</div>
      </div>
      <div>
        <div class="profile-info-name">联系人手机</div>
        <div class="profile-info-value">{{team.contact_phone}}</div>
      </div>
      <div>
        <div class="profile-info-name">联系人Email</div>
        <div class="profile-info-value">{{team.contact_email}}</div>
      </div>
      <div>
        <div class="profile-info-name">联系人QQ</div>
        <div class="profile-info-value">{{team.contact_qq}}</div>
      </div>
      <div>
        <div class="profile-info-name">联系人微信</div>
        <div class="profile-info-value">{{team.contact_wx}}</div>
      </div>
      <div>
        <div class="profile-info-name">邮寄地址</div>
        <div class="profile-info-value">{{team.address}}</div>
      </div>
      <div>
        <div class="profile-info-name">邮编</div>
        <div class="profile-info-value">{{team.postno}}</div>
      </div>
      <div>
        <div class="profile-info-name">备注</div>
        <div class="profile-info-value">{{team.other_info}}</div>
      </div>
    </div>
  </div>
</div>
