
<div class="page-header"><h2>培训信息</h2></div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div>
            <div class="profile-info-row">
                <div class="profile-info-name">培训机构</div>
                <div class="profile-info-value">{{train.org.name}}</div>
            </div>
            <div >
                <div class="profile-info-name">培训编号</div>
                <div class="profile-info-value">{{train.id}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训名称</div>
                <div class="profile-info-value">{{train.name}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训地点</div>
                <div class="profile-info-value">{{train.address}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训等级</div>
                <div class="profile-info-value">{{train.get_level_display}}</div>
            </div>
            <div>
                <div class="profile-info-name">报名开始时间</div>
                <div class="profile-info-value">{{train.reg_stime}}</div>
            </div>
            <div>
                <div class="profile-info-name">报名结束时间</div>
                <div class="profile-info-value">{{train.reg_etime}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训开始时间</div>
                <div class="profile-info-value">{{train.train_stime|date:"Y-m-d"}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训结束时间</div>
                <div class="profile-info-value">{{train.train_etime|date:"Y-m-d"}}</div>
            </div>
            <div>
                <div class="profile-info-name">上限人数</div>
                <div class="profile-info-value">{{train.limit}}</div>
            </div>
            <div>
                <div class="profile-info-name">费用</div>
                <div class="profile-info-value">{{train.money}}</div>
            </div>
            <div>
                <div class="profile-info-name">培训简介</div>
                <div class="profile-info-value">{{train.demo}}</div>
            </div>
        </div>
    </div>
</div>
