<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>快乐体操网络平台</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="../../static/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../../static/css/ace.min.css" />
    <link rel="stylesheet" href="../../static/css/ace-rtl.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="../../static/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="../../static/css/jquery.gritter.css" />

    <!-- basic scripts -->
    <script>
      if (!document.addEventListener) {
        // IE6~IE8
        //document.write('<script src="../../static/js/ieBetter.js"><\/script>'); 
          //document.write('<script src="../../static/js/jquery1x.min.js"><\/script>'); 
            document.write('<script src="http://code.jquery.com/jquery-1.9.0.js"><\/script>'); 
              }else{
              document.write('<script src="../../static/js/jquery.min.js"><\/script>'); 
              }
            </script>


            <!--[if lte IE 9]>
            <link rel="stylesheet" href="../assets/css/ace-part2.min.css" />
            <![endif]-->
            <link rel="stylesheet" href="../../static/css/ace-rtl.min.css" />

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

            <!--[if lt IE 9]>
            <script src="../assets/js/html5shiv.js"></script>
            <script src="../assets/js/respond.min.js"></script>
            <![endif]-->


            <script type="text/javascript">
              if('ontouchstart' in document.documentElement) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
              </script>

            </head>

            <body class="login-layout blur-login">
              <div class="main-container">
                <div class="main-content">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="center">
                        <h1>
                          <i class="ace-icon fa fa-leaf green"></i>
                          <span class="red">中国体操协会快乐体操推广委员会</span><br/>
                          <span class="white" id="id-text2">唯一指定网络平台</span>
                        </h1>
                      </div>
                      <div class="login-container">

                        <div class="space-30"></div>

                        {% if messages %}
                        <p class="alert alert-danger">
                        {% for m in messages %}
                        {% if forloop.first %}
                        {{ m }}
                        {% endif %}
                        {% endfor %}
                        </p>
                        {% endif %}

                        <div class="position-relative">

                          <div id="login-box" class="login-box visible widget-box no-border" style="min-width:400px">

                            <div class="widget-body">

                              <div class="widget-toolbar no-border pull-left">
                                <ul class="nav nav-tabs" id="login-header-tab">
                                  <li class="active">
                                  <a data-toggle="tab" href="#person-tab">个人入口</a>
                                  </li>
                                  <li>
                                  <a data-toggle="tab" href="#organization-tab">组织入口</a>
                                  </li>
                                  <li>
                                  <a data-toggle="tab" href="#admin-tab">管理员入口</a>
                                  </li>
                                </ul>
                              </div>							

                              <div class="widget-main">
                                <div class="widget-main padding-4">
                                  <h4 class="header blue lighter bigger">
                                    <i class="ace-icon fa fa-coffee green"></i>
                                    请输入您的帐号密码
                                  </h4>
                                  <div class="tab-content padding-8">
                                    <div id="person-tab" class="tab-pane active">
                                      <form action="login" method="post">
                                        {% csrf_token %}

                                        <fieldset> 
                                          <!--
                                          <div class="btn-group" data-toggle="buttons">
                                            <button class="btn btn-primary btn-sm active">
                                              <input type="radio" name="role" value="student" /> 学员
                                            </button>

                                            <button class="btn btn-primary btn-sm">
                                              <input type="radio" name="role" value="judge" /> 裁判
                                            </button>

                                            <button class="btn btn-primary btn-sm">
                                              <input type="radio" name="role" value="coach"/> 教练
                                            </button>
                                          </div>  
                                          -->
                                          <input type="radio" name="role" value="student" disabled="true"/> 学员
                                          <input type="radio" name="role" value="judge" disabled="true"/> 裁判
                                          <input type="radio" name="role" value="coach" checked="true"/> 教练

                                          {% include "components/login.html"%}

                                        </fieldset>
                                      </form>
                                    </div>

                                    <div id="organization-tab" class="tab-pane">
                                      <form action="login" method="post">
                                        {% csrf_token %}
                                        <!--
                                        <div class="btn-group" data-toggle="buttons">
                                          <button class="btn btn-primary btn-sm active">
                                            <input type="radio" name="role" value="club" /> 俱乐部
                                          </button>
                                          <button class="btn btn-primary btn-sm">
                                            <input type="radio" name="role" value="team" /> 参赛队
                                          </button>
                                          <button class="btn btn-primary btn-sm">
                                            <input type="radio" name="role" value="committee" /> 通级委员会
                                          </button>
                                        </div>  
                                        -->
                                        <input type="radio" name="role" value="club" checked="true"/> 俱乐部
                                        {% include "components/login.html"%}
                                      </form>
                                    </div>

                                    <div id="admin-tab" class="tab-pane">

                                      <form action="login" method="post">
                                        {% csrf_token %}
                                        <!--
                                        <div class="btn-group" data-toggle="buttons">
                                          <button class="btn btn-primary btn-sm active">
                                            <input type="radio" name="role" value="admin" /> 管理员
                                          </button>
                                        </div>  
                                        -->
                                        <input type="hidden" name="role" value="admin"/>

                                        {% include "components/login.html" with form=form1%}
                                      </form>
                                    </div> <!--/admin-tab -->

                                  </div>
                                </div>
                              </div><!-- /.widget-main -->

                              <div class="toolbar clearfix">
                                <div>
                                  <a href="#forgot-box" data-target="#forgot-box" class="forgot-password-link">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    忘记密码
                                  </a>
                                </div>

                                <div>
                                  <a href="#signup-box" data-target="#signup-box" class="user-signup-link">
                                    注册
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                  </a>
                                </div>
                              </div>
                            </div><!-- /.widget-body -->
                          </div><!-- /.login-box -->

                          <div id="forgot-box" class="forgot-box widget-box no-border">
                            <div class="widget-body">
                              <div class="widget-main">
                                <h4 class="header red lighter bigger">
                                  <i class="ace-icon fa fa-key"></i>
                                  找回密码
                                </h4>

                                <div class="space-6"></div>
                                <p>
                                请通过手机进行身份验证来找回密码
                                </p>

                                <form action='/find_password' method='POST' id="find-pwd-form">
                                  {% csrf_token %}
                                  <fieldset>

                                    {% include "components/register/phone.html"%}
                                    {% include "components/register/v_code.html" with btn_id="pwd-code-btn" form=form2 %}

                                    <div class="clearfix">
                                      <button type="submit" id="find-pwd" class="width-35 pull-right btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                        <span class="bigger-110">找回密码</span>
                                      </button>
                                    </div>
                                  </fieldset>
                                </form>
                              </div><!-- /.widget-main -->

                              <div class="toolbar center">
                                <a href="#" data-target="#login-box" class="back-to-login-link">
                                  登录
                                  <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                              </div>
                            </div><!-- /.widget-body -->
                          </div><!-- /.forgot-box -->

                          <div id="signup-box" class="signup-box widget-box no-border">
                            <div class="widget-body">

                              <div class="widget-toolbar no-border pull-left">
                              </div>	

                              <div class="widget-main ">
                                <div class="widget-main padding-4">
                                  <h4 class="header green lighter bigger">
                                    <i class="ace-icon fa fa-users blue"></i>
                                    注册
                                  </h4>

                                  <div class="tab-content padding-8">

                                    <form action="signup" method="post">
                                      {% csrf_token %}

                                      <fieldset>
                                        <p> 请选择注册类型 </p>

                                        <!-- 
                                        <div class="btn-group" data-toggle="buttons">
                                          <label id="student2" class="btn btn-success">
                                            -->
                                            <input type="radio" name="role2" value="student" disabled="true"/> 学员
                                            <input type="radio" name="role2" value="judge" disabled="true"/> 裁判
                                            <input type="radio" name="role2" value="coach" checked="true" /> 教练
                                            <br/>
                                            <input type="radio" name="role2" value="club" disabled="true"/> 俱乐部
                                            <!-- 
                                          </label>
                                        </div>  
                                        -->
                                        <div class="space"></div>

                                        {% include "components/register/phone.html"%}
                                        {% include "components/register/password.html"%}
                                        {% include "components/register/v_code.html" with btn_id="reg-code-btn" form=form3 %}

                                        <label class="block">
                                          <input required="required" type="checkbox" class="ace" />
                                          <span class="lbl">
                                            我同意并遵守
                                            <a href="/service_term">服务协议</a>
                                          </span>
                                        </label>

                                        {% include "components/register/reg_btn.html" %}

                                      </fieldset>
                                    </form>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="toolbar center">
                              <a href="#" data-target="#login-box" class="back-to-login-link">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                登录
                              </a>
                            </div>
                          </div><!-- /.widget-body -->
                        </div><!-- /.signup-box -->
                      </div><!-- /.position-relative -->
                    </div>
                  </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="footer">
                  <div class="footer-inner">
                    <div class="footer-content" style="border-top: 0px">
                      <h4 class="light-blue" id="id-company-text">
                        &copy;北京快乐童年阳光体操文化有限责任公司</h4>
                      <span class="bigger-120">
                        <span class="blue bolder">Created by Queendorm</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div><!-- /.main-content -->

              <script src="../../static/js/bootstrap.min.js"></script>
              <script src="../../static/js/jquery-ui.custom.min.js"></script>
              <script src="../../static/js/jquery.ui.touch-punch.min.js"></script>
              <script src="../../static/js/bootbox.min.js"></script>
              <script src="../../static/js/jquery.hotkeys.min.js"></script>
              <script src="../../static/js/jquery.gritter.min.js"></script>
              <!-- ace scripts -->
              <script src="../../static/js/ace.min.js"></script>
              <script src="../../static/js/ace-elements.min.js"></script>

              <script type="text/javascript">
                jQuery(function($) {
                  window.onload = function() {
                    if(location.hash){//if the page's URL has an octothore part 
                      var target = location.hash.substr(1);
                      $('.widget-box.visible').removeClass('visible');//hide others
                      $("#"+target).addClass("visible");
                    }
                  }

                  $(document).on('click', '.toolbar a[data-target]', function(e) {
                    e.preventDefault();
                    var target = $(this).data('target');
                    $('.widget-box.visible').removeClass('visible');//hide others
                    $(target).addClass('visible');//show target
                  });


                  $('.btn').click(function(){
                    $(this).css('active');
                  });


                  // global setting override
                  $.extend($.gritter.options, {
                    class_name: 'gritter-light', // for light notifications (can be added directly to $.gritter.add too)
                    position: 'top-right', // possibilities: bottom-left, bottom-right, top-left, top-right
                  });

                  $.gritter.add({
                    // (string | mandatory) the heading of the notification
                    title: '请使用兼容的浏览器',
                    sticky:true,
                    // (string | mandatory) the text inside the notification
                    text: '请尽量选择Chrome，Firefox以及IE10以上版本进行操作'
                  });

                  $('#student2').click(function () {
                    $("#studentForm").show();
                    $("#judgeForm").hide();
                    $("#coachForm").hide();
                  });
                  $('#coach2').click(function () {
                    $("#studentForm").hide();
                    $("#judgeForm").hide();
                    $("#coachForm").show();
                  });
                  $('#judge2').click(function () {
                    $("#studentForm").hide();
                    $("#judgeForm").show();
                    $("#coachForm").hide();
                  });
                  $('#club2').click(function () {
                    $("#clubForm").show();
                    $("#teamForm").hide();
                  });
                  $('#team2').click(function () {
                    $("#clubForm").hide();
                    $("#teamForm").show();
                  });

                });
              </script>
            </body>
          </html>
