
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form id="pwd-form">
      {% csrf_token %}
      <label class="block clearfix">
        <span class="block input-icon input-icon-right">
          <input style="display:none"><!-- for disable autocomplete on chrome -->
          <input rule="required" required="required" name="old_password" type="password" class="form-control" placeholder="原密码" autocomplete="off"/>
          <i class="ace-icon fa fa-lock"></i>
        </span>
      </label>
      {% include "components/register/password.html" %}
      <div class="space"></div>
      <div class="col-md-offset-5 col-md-6">
        <button class="btn btn-info" id="pwd-btn">
          确定
        </button>
      </div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#pwd-btn").click(function(e){
      e.preventDefault();
      var flag = false;
      $("input[required='required']").each(function() {
        if(!$.trim($(this).val())) {
          flag = true;
        }    
      });
      if(flag)
        return;

      form = $(this).closest('form');
      para = form.serialize();
      $.post('/password', para, function(res){
        if(res['msg'])
          alert(res['msg']);
        else{
          alert('请重新登录后修改');
          window.location.href = '/login';
        }

        if(res['success']){
          $('#pwd-form').trigger("reset");
        }
      });
    });
  });
</script>
