<html>
  <title>快乐体操网络平台服务协议</title>

  <body>
    <h2>快乐体操网络平台服务协议（试行）</h2>

    <p>试行版本生效日期：2015年01月30日</p>

    <b>提示条款</b>

    <p>欢迎您与快乐体操网络平台签署本《快乐体操网络平台服务协议》（下称“本协议”）并使用快乐体操网络平台服务！</p>

    <p>【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向快乐体操网络平台客服咨询。</p>

    <p>【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与快乐体操网络平台达成一致，成为快乐体操网络平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。</p>


    <h3>一、 定义</h3>

    <p><b>快乐体操网络平台：</b>指包括快乐体操网络平台（域名kuaileticao.com）等网站及客户端。</p>

    <p><b>快乐体操网络平台服务：</b>快乐体操网络平台基于互联网，以包含快乐体操网络平台网站、客户端等在内的各种形态（包括未来技术发展出现的新的服务形态）向您提供的各项服务。</p>

    <p><b>快乐体操网络平台规则：</b>包括在所有快乐体操网络平台规则频道内已经发布及后续发布的全部规则、解读、公告等内容以及各平台在帮派、论坛、帮助中心内发布的各类规则、实施细则、产品流程说明、公告等。</p>

    <p><b>快乐体操网络平台网规则：</b>快乐体操网络平台网规则频道列明的各项规则，具体详见此处。</p>

    <p><b>同一用户：</b>使用同一身份认证信息或经快乐体操网络平台排查认定多个快乐体操网络平台账户的实际控制人为同一人的，均视为同一用户。</p>


    <h3>二、 协议范围</h3>

    <h4>2.1 签约主体</h4>

    <p>【平等主体】本协议由您与快乐体操网络平台经营者共同缔结，本协议对您与快乐体操网络平台经营者均具有合同效力。</p>

    <p>【主体信息】快乐体操网络平台经营者是指经营快乐体操网络平台的各法律主体，您可随时查看快乐体操网络平台各网站首页底部公示的证照信息以确定与您履约的快乐体操网络平台主体。本协议项下，快乐体操网络平台经营者可能根据快乐体操网络平台的业务调整而发生变更，变更后的快乐体操网络平台经营者与您共同履行本协议并向您提供服务，快乐体操网络平台经营者的变更不会影响您本协议项下的权益。快乐体操网络平台经营者还有可能因为提供新的快乐体操网络平台服务而新增，如您使用新增的快乐体操网络平台服务的，视为您同意新增的快乐体操网络平台经营者与您共同履行本协议。发生争议时，您可根据您具体使用的服务及对您权益产生影响的具体行为对象确定与您履约的主体及争议相对方。</p>

    <h4>2.2补充协议</h4>

    <p>由于互联网高速发展，您与快乐体操网络平台签署的本协议列明的条款并不能完整罗列并覆盖您与快乐体操网络平台所有权利与义务，现有的约定也不能保证完全符合未来发展的需求。因此，快乐体操网络平台法律声明及隐私权政策、快乐体操网络平台规则均为本协议的补充协议，与本协议不可分割且具有同等法律效力。如您使用快乐体操网络平台服务，视为您同意上述补充协议。</p>

    <h3>三、 账户注册与使用</h3>

    <h4>3.1 用户资格</h4>

    <p>您确认，在您开始注册程序使用快乐体操网络平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。</p>

    <h4>3.2 账户说明</h4>

    <p>【账户获得】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您可获得快乐体操网络平台账户并成为快乐体操网络平台用户。</p>

    <p>【账户使用】您有权使用您设置或确认的快乐体操网络平台会员名、邮箱、手机号码（以下简称“账户名称”）及您设置的密码（账户名称及密码合称“账户”）登录快乐体操网络平台。</p>

    <p>【账户转让】由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经快乐体操网络平台同意，并符合快乐体操网络平台规则规定的用户账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。除此外，您的账户不得以任何方式转让，否则由此产生的一切责任均由您承担。</p>

    <p>【实名认证】作为快乐体操网络平台经营者，法律并未赋予快乐体操网络平台强制要求所有用户进行快乐体操推广委员会实名认证的权力，但为使您更好地使用快乐体操网络平台的各项服务，快乐体操网络平台建议您按照快乐体操网络平台要求及我国法律规定完成实名认证。</p>

    <p>【不活跃账户回收】如您的账户同时符合以下条件，则快乐体操网络平台可回收您的账户，您的账户将不能再登录任一快乐体操网络平台，相应服务同时终止：
    <ul>
      <li>（一）未绑定通过实名认证；</li>
      <li>（二）连续12个月未用于登录任一快乐体操网络平台；</li>
      <li>（三）不存在未到期的有效业务。</li>
    </ul></p>

    <h4>3.3 注册信息管理</h4>

    <b>3.3.1 真实合法</b>
    <p>【信息真实】在使用快乐体操网络平台服务时，您应当按快乐体操网络平台页面的提示准确完整地提供您的信息（包括您的姓名及电子邮件地址、联系电话、联系地址等），以便快乐体操网络平台或其他用户与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。</p>

    <p>【会员名的合法性】您设置的快乐体操网络平台会员名不得违反国家法律法规及快乐体操网络平台网规则关于会员名的管理规定，否则快乐体操网络平台可回收您的快乐体操网络平台会员名。快乐体操网络平台会员名的回收不影响您以邮箱、手机号码登录快乐体操网络平台并使用快乐体操网络平台服务。</p>

    <b>3.3.2 更新维护</b>
    <p>您应当及时更新您提供的信息，在法律有明确规定要求快乐体操网络平台作为平台服务提供者必须对部分用户的信息进行核实的情况下，快乐体操网络平台将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整的信息。</p>
    <p>如快乐体操网络平台按您最后一次提供的信息与您联系未果、您未按快乐体操网络平台的要求及时提供信息、您提供的信息存在明显不实的，您将承担因此对您自身、他人及快乐体操网络平台造成的全部损失与不利后果。</p>

    <h4>3.4 账户安全规范</h4>

    <p>【账户安全保管义务】您的账户为您自行设置并由您保管，快乐体操网络平台任何时候均不会主动要求您提供您的账户。因此，建议您务必保管好您的账户， 并确保您在每个上网时段结束时退出登录并以正确步骤离开快乐体操网络平台。
    账户因您主动泄露或遭受他人攻击、诈骗等行为导致的损失及后果，均由您自行承担。</p>

    <p>【账户行为责任自负】除快乐体操网络平台存在过错外，您应对您账户项下的所有行为结果负责。</p>

    <p>【日常维护须知】如发现任何未经授权使用您账户登录快乐体操网络平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知快乐体操网络平台，并授权快乐体操网络平台将该信息同步给快乐体操推广委员会及快乐体操网络平台。您理解快乐体操网络平台对您的任何请求采取行动均需要合理时间，除快乐体操网络平台存在过错外，快乐体操网络平台对在采取行动前已经产生的后果不承担任何责任。</p>

    <h3>四、 快乐体操网络平台服务及规范</h3>

    <p>【服务概况】您有权在快乐体操网络平台上享受网络服务。快乐体操网络平台提供的服务内容众多，具体您可登录快乐体操网络平台浏览，相关服务根据具体项目流程规范及快乐体操推广委员会制定的规则进行设置。</p>

    <h3>五、 用户信息的保护及授权</h3>

    <h4>5.1个人信息的保护</h4>

    <p>快乐体操网络平台非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用快乐体操网络平台提供的服务时，您同意快乐体操网络平台按照在快乐体操网络平台上公布的隐私权政策收集、存储、使用、披露和保护您的个人信息。快乐体操网络平台希望通过隐私权政策向您清楚地介绍快乐体操网络平台对您个人信息的处理方式，因此快乐体操网络平台建议您完整地阅读隐私权政策（点击此处或点击快乐体操网络平台首页底部链接），以帮助您更好地保护您的隐私权。</p>

    <h4>5.2非个人信息的保证与授权</h4>

    <p>【信息的发布】您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，快乐体操网络平台可对您发布的信息依法或依本协议进行删除或屏蔽。</p>

    <p>【禁止性信息】您应当确保您所发布的信息不包含以下内容：
    <ul>
      <li>（一）违反国家法律法规禁止性规定的；</li>
      <li>（二）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</li>
      <li>（三）欺诈、虚假、不准确或存在误导性的；</li>
      <li>（四）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</li>
      <li>（五）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</li>
      <li>（六）存在可能破坏、篡改、删除、影响快乐体操网络平台任何系统正常运行或未经授权秘密获取快乐体操网络平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</li>
      <li>（七）其他违背社会公共利益或公共道德或依据相关快乐体操网络平台协议、规则的规定不适合在快乐体操网络平台上发布的。</li>
    </ul></p>

    <p>【授权使用】对于您提供及发布除个人信息外的文字、图片、视频、音频等非个人信息，在版权保护期内您免费授予快乐体操网络平台及其关联公司、快乐体操网络平台获得全球排他的许可使用权利及再授权给其他第三方使用的权利。您同意快乐体操网络平台及其关联公司、快乐体操网络平台存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。</p>
    <p>为方便您使用快乐体操网络平台、快乐体操推广委员会等其他相关服务，您授权快乐体操网络平台将您在账户注册和使用快乐体操网络平台服务过程中提供、形成的信息传递给快乐体操网络平台、快乐体操推广委员会等其他相关服务提供者，或从快乐体操网络平台、快乐体操推广委员会等其他相关服务提供者获取您在注册、使用相关服务期间提供、形成的信息。</p>


    <h3>六、 用户的违约及处理</h3>

    <h4>6.1 违约认定</h4>

    <p>发生如下情形之一的，视为您违约：
    <ul>
      <li>（一）使用快乐体操网络平台服务时违反有关法律法规规定的；</li>
      <li>（二）违反本协议或本协议补充协仪约定的。</li>
    </ul></p>
    <p>为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意，快乐体操网络平台可在快乐体操网络平台规则中约定违约认定的程序和标准。如：快乐体操网络平台可依据您的用户数据与海量用户数据的关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将被认定为违约。</p>

    <h4>6.2 违约处理措施</h4>

    <p>【信息处理】您在快乐体操网络平台上发布的信息构成违约的，快乐体操网络平台可根据相应规则立即对相应信息进行删除、屏蔽处理或监管。</p>

    <p>【行为限制】您在快乐体操网络平台上实施的行为，或虽未在快乐体操网络平台上实施但对快乐体操网络平台及其用户产生影响的行为构成违约的，快乐体操网络平台可依据相应规则对您执行账户限制参加营销活动、中止向您提供部分或全部服务、划扣违约金等处理措施。如您的行为构成根本违约的，快乐体操网络平台可查封您的账户，终止向您提供服务。</p>

    <p>【快乐体操推广委员会账户处理】当您违约的同时存在欺诈、售假、盗用他人账户等特定情形或您存在危及他人交易安全或账户安全风险时，快乐体操网络平台会依照您行为的风险程度指示快乐体操网络平台对您的账户采取强制措施。</p>

    <p>【处理结果公示】快乐体操网络平台可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书确认的违法信息在快乐体操网络平台上予以公示。</p>

    <h4>6.3赔偿责任</h4>

    <p>如您的行为使快乐体操网络平台及/或其关联公司、快乐体操网络平台遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿快乐体操网络平台及/或其关联公司、快乐体操网络平台的上述全部损失。</p>
    <p>如您的行为使快乐体操网络平台及/或其关联公司、快乐体操网络平台遭受第三人主张权利，快乐体操网络平台及/或其关联公司、快乐体操网络平台可在对第三人承担金钱给付等义务后就全部损失向您追偿。</p>
    <p>如因您的行为使得第三人遭受损失或您怠于履行调处决定、快乐体操网络平台及/或其关联公司出于社会公共利益保护或消费者权益保护目的，可指示快乐体操网络平台索取赔偿。</p>

    <h4>6.4特别约定</h4>

    <p>【商业贿赂】如您向快乐体操网络平台及/或其关联公司的雇员或顾问等提供实物、现金、现金等价物、劳务、旅游等价值明显超出正常商务洽谈范畴的利益，则可视为您存在商业贿赂行为。发生上述情形的，快乐体操网络平台可立即终止与您的所有合作并向您收取违约金及/或赔偿金，该等金额以快乐体操网络平台因您的贿赂行为而遭受的经济损失和商誉损失作为计算依据。</p>

    <div>
    <p>【关联处理】如您因严重违约导致快乐体操网络平台终止本协议时，出于维护平台秩序及保护消费者权益的目的，快乐体操网络平台及/或其关联公司可对与您在其他协议项下的合作采取中止甚或终止协议的措施，并以本协议第八条约定的方式通知您。</p>
    <p>如快乐体操网络平台与您签署的其他协议及快乐体操网络平台及/或其关联公司、快乐体操网络平台与您签署的协议中明确约定了对您在本协议项下合作进行关联处理的情形，则快乐体操网络平台出于维护平台秩序及保护消费者权益的目的，可在收到指令时中止甚至终止协议，并以本协议第八条约定的方式通知您。</p>
    </div>


    <h3>七、 协议的变更</h3>

    <p>快乐体操网络平台可根据国家法律法规变化及维护交易秩序、保护消费者权益需要，不时修改本协议、补充协议，变更后的协议、补充协议（下称“变更事项”）将通过法定程序并以本协议第八条约定的方式通知您。</p>
    <p>如您不同意变更事项，您有权于变更事项确定的生效日前联系快乐体操网络平台反馈意见。如反馈意见得以采纳，快乐体操网络平台将酌情调整变更事项。</p>
    <p>如您对已生效的变更事项仍不同意的，您应当于变更事项确定的生效之日起停止使用快乐体操网络平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用快乐体操网络平台服务，则视为您同意已生效的变更事项。</p>


    <h3>八、 通知</h3>

    <p>您同意快乐体操网络平台以以下合理的方式向您送达各类通知：
    <ul>
      <li>（一）公示的文案；</li>
      <li>（二）站内信、旺旺弹出消息、客户端推送的消息；</li>
      <li>（三）根据您预留于快乐体操网络平台的联系方式发出的电子邮件、短信、函件等。</li>
    </ul></p>

    <h3>九、 协议的终止</h3>

    <h4>9.1 终止的情形</h4>

    <p>【用户发起的终止】您有权通过以下任一方式终止本协议：
    <ul>
      <li>（一）在满足快乐体操网络平台网公示的账户注销条件时您通过网站自助服务注销您的账户的；</li>
      <li>（二）变更事项生效前您停止使用并明示不愿接受变更事项的；</li>
      <li>（三）您明示不愿继续使用快乐体操网络平台服务，且符合快乐体操网络平台网终止条件的。</li>
    </ul></p>

    <p>【快乐体操网络平台发起的终止】出现以下情况时，快乐体操网络平台可以本协议第八条的所列的方式通知您终止本协议：
    <ul>
      <li>（一）您违反本协议约定，快乐体操网络平台依据违约条款终止本协议的；</li>
      <li>（二）您盗用他人账户、发布违禁信息、骗取他人财物、售假、扰乱市场秩序、采取不正当手段谋利等行为，快乐体操网络平台依据快乐体操网络平台规则对您的账户予以查封的；</li>
      <li>（三）除上述情形外，因您多次违反快乐体操网络平台规则相关规定且情节严重，快乐体操网络平台依据快乐体操网络平台规则对您的账户予以查封的；</li>
      <li>（四）您的账户被快乐体操网络平台依据本协议回收的；</li>
      <li>（五）您在快乐体操推广委员会或快乐体操网络平台有欺诈、发布或销售假冒伪劣/侵权商品、侵犯他人合法权益或其他严重违法违约行为的；</li>
      <li>（六）其它应当终止服务的情况。</li>
    </ul></p>

    <h4>9.2 协议终止后的处理</h4>

    <p>【用户信息披露】本协议终止后，除法律有明确规定外，快乐体操网络平台无义务向您或您指定的第三方披露您账户中的任何信息。</p>

    <p>【快乐体操网络平台权利】本协议终止后，快乐体操网络平台仍享有下列权利：
    <ul>
      <li>（一）继续保存您留存于快乐体操网络平台的本协议第五条所列的各类信息；</li>
      <li>（二）对于您过往的违约行为，快乐体操网络平台仍可依据本协议向您追究违约责任。</li>
    </ul></p>

    <h3>十、 法律适用、管辖与其他</h3>

    <p>【法律适用】本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。</p>

    <p>【管辖】您因使用快乐体操网络平台服务所产生及与快乐体操网络平台服务有关的争议，由快乐体操网络平台与您协商解决。协商不成时，任何一方均可向被告所在地人民法院提起诉讼。</p>

    <p>【可分性】本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
  </body>
</html>
