{% extends "./base/base.html" %}

{% block title %} 参赛队页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="group/games" href="#page/group/games">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 比赛列表</span>
    </a>

    <b class="arrow"></b>
    </li>

    <li class="">
    <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> 个人中心 </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
        <li class="">
        <a data-url="group/center" href="#page/group/center">
            <i class="menu-icon fa fa-caret-right"></i>
            个人信息
        </a>

        <b class="arrow"></b>
        </li>

        <li class="">
        <a data-url="password" href="#page/password">
            <i class="menu-icon fa fa-caret-right"></i>
            密码修改
        </a>

        <b class="arrow"></b>
        </li>

    </ul>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}
