{% extends "./base/base.html" %}

{% block title %} 参赛队页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="group/games" href="#page/group/games">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 比赛列表</span>
    </a>

    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="group/new_game" href="#page/group/new_game">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> (暂时)正在进行的比赛信息</span>
    </a>

    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="group/center" href="#page/group/center">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> 个人中心 </span>
    </a>

    <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
$(function(){
        if(window.location.search.length > 0 || !window.location.href.match(/page/)){
window.location.href=window.location.origin+window.location.pathname+"#page/group/games";
}
        });

</script>
{% endblock %}
