<script src="../../static/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="../../static/css/chosen.css" />
<script type="text/javascript">
    jQuery(function($) {
        $('.chosen-select').chosen({allow_single_deselect:true});
        
        $(window)
        .off('resize.chosen')
        .on('resize.chosen', function() {
            $('.chosen-select').each(function() {
                var $this = $(this);
                $this.next().css({'width': '213px'});
            })
        }).trigger('resize.chosen');
        $('.glyphicon-minus').click(function(){
            $(this).parent().parent().remove();
            });

    });
    
    function add_form(){
        $("#form_list").append('\
        <div class="col-xs-12">\
            <div class="col-sm-5">\
                <br />\
                <select class="chosen-select" id="choose-event" data-placeholder="请选择。。。">\
                    <option value="">  </option>\
                    <option value="AL">队1</option>\
                    <option value="AK">队2</option>\
                    <option value="AZ">三队</option>\
                    <option value="AR">四队</option>\
                    <option value="CA">Queen</option>\
                    <option value="CO">拉拉队</option>\
                    <option value="CT">3511</option>\
                    <option value="DE">七朵花</option>\
                    <option value="FL">Florida</option>\
                    <option value="GA">Georgia</option>\
                    <option value="HI">Hawaii</option>\
                    <option value="ID">Idaho</option>\
                    <option value="IL">Illinois</option>\
                    {% for i in "12345" %}\
                    <option value="IN">Indiana</option>\
                    {% endfor %}\
                </select>\
            </div>\
            <div class="col-sm-5">\
                <br />\
                <select multiple="" class="chosen-select tag-input-style" id="choose-members" data-placeholder="请选择。。。">\
                    <option value="AL">Alabama</option>\
                    <option value="AK">Alaska</option>\
                    <option value="AZ">Arizona</option>\
                    <option value="AR">Arkansas</option>\
                    <option value="CA">California</option>\
                    <option value="CO">Colorado</option>\
                    <option value="CT">Connecticut</option>\
                    <option value="DE">Delaware</option>\
                    <option value="FL">Florida</option>\
                    <option value="GA">Georgia</option>\
                    <option value="HI">Hawaii</option>\
                    <option value="ID">Idaho</option>\
                    <option value="IL">Illinois</option>\
                    <option value="IN">Indiana</option>\
                    <option value="IA">Iowa</option>\
                    <option value="KS">Kansas</option>\
                    <option value="KY">Kentucky</option>\
                    <option value="LA">Louisiana</option>\
                    <option value="ME">Maine</option>\
                    <option value="MD">Maryland</option>\
                </select>\
            </div>\
            <div class="col-sm-2" style="height:49px; padding-top:20px"><i class="ace-icon glyphicon glyphicon-minus"></i></div>\
            </div>\
        ');
        $('.chosen-select').chosen({allow_single_deselect:true});
        
        $(window)
        .off('resize.chosen')
        .on('resize.chosen', function() {
            $('.chosen-select').each(function() {
                var $this = $(this);
                $this.next().css({'width': $this.parent().width()});
            })
        }).trigger('resize.chosen');
        $('.glyphicon-minus').click(function(){
            $(this).parent().parent().remove();
            });
        
    }
</script>

<div class="row">
    
        <form class="form-horizontal" role="form">
        <div class="col-xs-12">
        <div class="col-sm-5"><label for="choose-event">请选择项目：</label></div>
        <div class="col-sm-5"><label for="choose-members">请选择参赛队员：</label></div>
        <div class="col-sm-2"></div></div>
        <div id="form_list">
        {% for i in "123" %}
        <div class="col-xs-12">
            <div class="col-sm-5">
                <br />
                <select class="chosen-select" id="choose-event" data-placeholder="请选择。。。">
                    <option value="">  </option>
                    <option value="AL">队1</option>
                    <option value="AK">队2</option>
                    <option value="AZ">三队</option>
                    <option value="AR">四队</option>
                    <option value="CA">Queen</option>
                    <option value="CO">拉拉队</option>
                    <option value="CT">3511</option>
                    <option value="DE">七朵花</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    {% for i in "12345" %}
                    <option value="IN">Indiana</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <br />
                <select multiple="" class="chosen-select tag-input-style" id="choose-members" data-placeholder="请选择。。。">
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                </select>
            </div>
            <div class="col-sm-2" style="height:49px; padding-top:20px">
                <i class="ace-icon glyphicon glyphicon-minus"></i>
            </div>
            </div>
            
            {% endfor %}
            </div>
            <div class="col-sm-12" style="height:49px; padding-top:20px;padding-left:30px;">
                <i class="ace-icon glyphicon glyphicon-plus" onclick="add_form()"></i>
            </div>
            
        </form>
    
</div>