{% extends "./coach/base.html" %}
<!--
重载head部分，主要是添加meta，css，js一类
-->
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="../../static/css/bootstrap-editable.css">
{% endblock %}

<!--
重载页面部分
-->
{% block content%}
{{ block.super }}

<div class="page-header"><h1> 确认报名信息 </h1></div>
<!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <div>
            <div id="user-profile-3" class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="space"></div>
                    <div class="alert alert-info">此处资料来源于个人信息，编辑同时会更新原有个人信息</div>
                    <form class="form-horizontal">
                        <input class="myeditable" name="csrfmiddlewaretoken" id="token" type="hidden" value="{{csrf_token}}"/>
                        <input class="myeditable" name="t_id" id="train_id" type="hidden" value="{{train.id}}"/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-7">

                                <div class="profile-user-info profile-user-info-striped">
                                    <div>
                                        <div class="profile-info-name">姓名</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="name">{{coach.property.name}}</span>
                                        </div>
                                    </div>
                                    <div>

                                        <div class="profile-info-name">性别</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="sex" data-type="select" value="{{coach.property.sex}}"> {{coach.property.get_sex_display}} </span>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="profile-info-name">电话</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="phone">{{coach.property.user.phone|default_if_no:""}}</span>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="profile-info-name">邮箱</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="email">{{coach.property.user.email|default_if_no:""}}</span>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="profile-info-name">身份证号</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="identity">{{coach.property.identity|default_if_no:""}}</span>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="profile-info-name">出生日期</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="birth" data-type="combodate" data-template="YYYY-MM-DD" data-format="YYYY-MM-DD" data-viewformat="YYYY-MM-DD">{{coach.property.birth|date:'Y-m-d'}}</span>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="profile-info-name">单位</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="company">{{coach.property.company}}</span>
                                        </div>
                                    </div>

                                    <!--
                                    <div class="form-group col-sm-5">
                                        <label class="col-sm-3 control-label no-padding-right"
                                            for="form-field-club">俱乐部</label>
                                        <div class="col-sm-8">
                                            <div class="profile-info-value">
                                                <span class="myeditable editable editable-click" id="club" data-type="select">
                                                    {{ coach.club.name }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    -->

                                    <div>
                                        <div class="profile-info-name">常驻地</div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="province" name="province" data-type="select">{{coach.property.province}}</span>
                                            省
                                        </div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="city" name="city" data-type="select">{{coach.property.city}}</span>
                                            市
                                        </div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="dist" name="dist" data-type="select">{{coach.property.dist}}</span>
                                            区/县
                                        </div>
                                        <div class="profile-info-value">
                                            <span class="myeditable editable editable-click" id="address">{{coach.property.address}}</span>
                                        </div>
                                    </div>

                                    <div class="space"></div>
                                </div>
                                <div class="col-sm-10">
                                    <ul class="list-unstyled spaced2">
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>培训名称：</b></font>
                                        &nbsp;{{train.name}}<p/>
                                        </li>
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>组织机构：</b></font>
                                        &nbsp;{{train.org.name}}<p/>
                                        </li>
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>培训时间：</b></font>
                                        &nbsp;{{train.train_stime}}<p/>
                                        </li>
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>培训地点：</b></font>
                                        &nbsp;{{train.address}}<p/>
                                        </li>
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>培训级别：</b></font>
                                        &nbsp;{{train.get_level_display}}<p/>
                                        </li>
                                        <li><i class="ace-icon fa fa-circle green"></i>
                                        <font size="3px"><b>培训费用：</b></font>
                                        &nbsp;{{train.money}}<p/>
                                        </li>
                                    </ul>
                                </div>

                                <div class="space"></div>
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button class="btn btn-info" type="button" id="save-btn">
                                            <i class="ace-icon fa fa-check bigger-110"></i> 确认信息并报名
                                        </button>
                                    </div>
                                </div>
                                <form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.span -->
                </div>
                <!-- /.user-profile -->
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->

        <script src="../../static/js/bootstrap.min.js"></script>
        <!-- page specific plugin scripts -->

        <!--[if lte IE 8]>
        <script src="../../static/js/excanvas.min.js"></script>
        <![endif]-->
        <script src="../../static/js/ace/elements.fileinput.js"></script>
        <script src="../../static/js/date-time/bootstrap-datepicker.min.js"></script>
        <script src="../../static/js/date-time/locales/bootstrap-datepicker.zh-CN.js"></script>
        <script src="../../static/js/date-time/moment.min.js"></script>
        <script src="../../static/js/select2.min.js"></script>
        <script src="../../static/js/fuelux/fuelux.spinner.min.js"></script>
        <script src="../../static/js/x-editable/bootstrap-editable.min.js"></script>
        <script src="../../static/js/x-editable/ace-editable.min.js"></script>

        <script src="../../static/custom/myaddress.js"></script>
        <script src="../../static/custom/validate.js"></script>
        <script src="../../static/custom/person-info-val.js"></script>

        <script type="text/javascript">
            jQuery(function($) {
                //editables 

                //text editable
                $('#token')
                .editable({
                    value:'{{csrf_token}}',
                    type: 'text',
                    name: 'csrfmiddlewaretoken'
                });
                $('#train_id')
                .editable({
                    value:'{{train.id}}',
                    type: 'text',
                    name: 't_id'
                });

                $('#company')
                .editable({
                    type:'text',
                    name:'company',
                    validate: function(v) {
                        v = $.trim(v);
                        if (v == '') {
                            return '工作单位为必填项';
                        }
                    }
                });
                $('#province')
                .editable({
                    validate: function(v) {
                        v = $.trim(v);
                        if (v == '') {
                            return '地址为必填项';
                        }
                    }
                });
                $('#city')
                .editable({
                    validate: function(v) {
                        v = $.trim(v);
                        if (v == '') {
                            return '地址为必填项';
                        }
                    }
                });
                $('#dist')
                .editable({
                    validate: function(v) {
                        v = $.trim(v);
                        if (v == '') {
                            return '地址为必填项';
                        }
                    }
                });

                // click save btn
                $('#save-btn').click(function() {
                    $('.myeditable').editable('submit', { 
                        url: '/coach/train/info_confirm', 
                        ajaxOptions: {
                            dataType: 'json' //assuming json response
                        },           
                        success: function(data) {
                            if(data && data.success){
                                alert("报名成功");
                                window.location.href="/coach/train";
                            }else{
                                alert(data.msg);
                            }
                        },
                        error: function(errors) {
                            var info = "";
                            for(var k in errors){
                                info += (k+":  "+errors[k]+"\n");
                            }
                            alert(info);
                        } 
                    });
                });

            });

        </script>
        {% endblock %}
