[Unit]
Description=uWSGI kuaileticao
After=syslog.target
Requires=mysqld.service nginx.service
Wants=mysqld.service nginx.service

[Service]
User=kltc
Group=kltc
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/kuaileticao_test.uwsgi.ini
#ExecStop=/usr/bin/kill -9 `cat /tmp/kuaileticao_test-master.pid`

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
