{% extends "./base/base.html" %}

{% block title %} 裁判员页面 {% endblock %}

{% block menu %}
<ul class="nav nav-list">
    <li class="">
    <a data-url="" href="#">
        <i class="menu-icon fa fa-dashboard"></i> <span class="menu-text"> 首页 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="" href="#">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 裁判员培训 </span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="" href="#">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 裁判员考试</span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="" href="#">
        <i class="menu-icon fa fa-list"></i> <span class="menu-text"> 通级委员会申请</span>
    </a>
    <b class="arrow"></b>
    </li>

    <li class="">
    <a data-url="" href="#">
        <i class="menu-icon fa fa-users"></i> <span class="menu-text"> 个人中心 </span>
    </a>
    <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->
{% endblock %}

{% block script %}
<script>
//    $(function(){
//        if(window.location.search.length > 0 || !window.location.href.match(/page/)){
//            window.location.href=window.location.origin+window.location.pathname+"#page/judge/home";
//        }
//    });

</script>
{% endblock %}
