<!--[if lte IE 8]>
 <script src="../../static/js/excanvas.min.js"></script>
<![endif]-->
<script src="../../static/js/jquery.easypiechart.min.js"></script>
<script src="../../static/js/jquery.easy-pie-chart-older.js"></script>
<script type="text/javascript">
jQuery(function($) {
	$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
						size: size
					});
				})
});
</script>

<div class="page-header"><h1>首页</h1></div>

<div class="row">
	<div class="col-xs-12 col-sm-3 center">
		<div>
			<!-- #section:pages/profile.picture -->
			<span class="profile-picture">
				<img id="avatar" src="../../static/avatars/profile-pic.jpg" />
			</span>

			<!-- /section:pages/profile.picture -->
			<div class="space-4"></div>

			<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
				<div class="inline position-relative">
					<span class="white">王裁判</span>
				</div>
			</div>
		</div>

		<div class="space-6"></div>

		<!-- #section:pages/profile.contact -->
		<div class="profile-contact-info">
			<div class="profile-contact-links align-left">
				<a class="btn btn-link">
					<i class="ace-icon fa fa-phone bigger-120 green"></i>
					13333333333
				</a>

				<a class="btn btn-link">
					<i class="ace-icon fa fa-comment bigger-125 blue"></i>
					435673454
				</a>

				<a class="btn btn-link">
					<i class="ace-icon fa fa-envelope bigger-120 pink"></i>
					moumoug@gmail.com
				</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-9">
		<div class="space-10"></div>
		<div class="col-sm-6">
		<div class="profile-user-info">
			<div class="profile-info-row">
				<div class="profile-info-name"> 姓名 </div>

				<div class="profile-info-value">
					<span>王裁判</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> 居住地 </div>

				<div class="profile-info-value">
					<i class="fa fa-map-marker light-orange bigger-110"></i>
					<span>北京</span>
					<span>海淀</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> 年龄 </div>

				<div class="profile-info-value">
					<span>38</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> 所属委员会 </div>

				<div class="profile-info-value">
					<span>国家体育馆</span>
				</div>
			</div>
	
			<div class="profile-info-row">
				<div class="profile-info-name"> 所属俱乐部 </div>

				<div class="profile-info-value">
					<span>funny</span>
				</div>
			</div>
	
			<div class="profile-info-row">
				<div class="profile-info-name"> 等级 </div>

				<div class="profile-info-value">
					<span>1</span>
				</div>
			</div>
			
			<div class="profile-info-row">
				<div class="profile-info-name"> 职称 </div>

				<div class="profile-info-value">
					<span>讲师</span>
				</div>
			</div>
	
			<div class="profile-info-row">
				<div class="profile-info-name"> 等级获得时间 </div>

				<div class="profile-info-value">
					<span>3 hours ago</span>
				</div>
			</div>
		</div>
		</div>
	
		<div class="col-sm-6">
		<div class="profile-user-info">
		<div class="profile-info-row">
			<div class="profile-info-name"> 姓名 </div>

			<div class="profile-info-value">
				<span>王裁判</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 居住地 </div>

			<div class="profile-info-value">
				<i class="fa fa-map-marker light-orange bigger-110"></i>
				<span>北京</span>
				<span>海淀</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 年龄 </div>

			<div class="profile-info-value">
				<span>38</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 工作单位 </div>

			<div class="profile-info-value">
				<span>国家体育馆</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 所属俱乐部 </div>

			<div class="profile-info-value">
				<span>funny</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 等级 </div>

			<div class="profile-info-value">
				<span>1</span>
			</div>
		</div>
		
		<div class="profile-info-row">
			<div class="profile-info-name"> 职称 </div>

			<div class="profile-info-value">
				<span>讲师</span>
			</div>
		</div>

		<div class="profile-info-row">
			<div class="profile-info-name"> 最后一次登录 </div>

			<div class="profile-info-value">
				<span>3 hours ago</span>
			</div>
		</div>
		</div>
		</div>
	<div class="col-sm-12">
		<span class="btn btn-app btn-sm btn-success no-hover">
			<span class="line-height-1 bigger-170"><i class="fa fa-trophy"></i></span>

			<br />
			<span class="line-height-1 smaller-90"> 初级荣誉 </span>
		</span>
		<span class="btn btn-app btn-sm btn-primary no-hover">
			<span class="line-height-1 bigger-170"><i class="fa fa-bookmark"></i></span>

			<br />
			<span class="line-height-1 smaller-90"> 初级徽章 </span>
		</span>
	</div>
</div>
</div>

<div class="space-20"></div>

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small">
				<h4 class="widget-title smaller">
					<i class="ace-icon fa fa-check-square-o bigger-110"></i>
					培训
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
						初级：已通过
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
						<a data-url="judge/train" href="#page/judge/train">中级：可报名</a>
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-pencil-square-o btn-yellow no-hover"></i>
						中级：进行中
						<div class="infobox infobox-green infobox-small infobox-dark pull-right">
							<div class="infobox-progress">
								<div class="easy-pie-chart percentage" data-percent="61" data-size="39">
									<span class="percent">61</span>%
								</div>
							</div>

							<div class="infobox-data">
								<div class="infobox-content">Task</div>
								<div class="infobox-content">Completion</div>
							</div>
						</div>
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-ban btn-pink no-hover"></i>
						高级：未通过
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-4">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small header-color-blue2">
				<h4 class="widget-title smaller">
					<i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
					考级
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
						初级：已通过
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-pencil btn-warning no-hover"></i>
						<a data-url="judge/train" href="#page/judge/train">中级：可报名</a>
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-pencil-square-o btn-yellow no-hover"></i>
						中级：进行中
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left thumbicon fa fa-ban btn-pink no-hover"></i>
						高级：未通过
					</div>

					<!-- /section:pages/profile.skill-progress -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small header-color-blue2">
				<h4 class="widget-title smaller">
					<i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
					比赛
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="profile-activity clearfix">
                        <i class="pull-left ace-icon fa fa-circle green no-hover"></i>
                        &nbsp;进行中的比赛：&nbsp;第八套体操比赛
					</div>
					<div class="profile-activity clearfix">
						<i class="pull-left ace-icon fa fa-circle green no-hover"></i>
						&nbsp;已参加的比赛：&nbsp;第七套体操比赛，第六套体操比赛，第五套体操比赛
					</div>
				</div>
			</div>
		</div>
	</div>
</div>